/* Main chat container */

#chatContainer{
	bottom: 0;
    position: fixed;
    right: 0;
    width: 300px;
    z-index:99;
     padding:2px; 
     background:#fff; 
     border: 1px solid rgb(232, 232, 232);
     	box-shadow:0 1px 3px #333;
}


/* Top Bar */


#chatTopBar{
	height:40px;
	
	border:1px solid #fff;
	margin-bottom:15px;
	position:relative;
	
	color:#777;
	
}

#chatTopBar .name{
	position:absolute;
	top:10px;
	left:10px;
	color:#fff;
}

#chatTopBar img{
	left:9px;
	position:absolute;
	top:8px;
}


/* Chats */




#chatLineHolder{
	height:240px;
	width:100%;
	margin-bottom:20px;
}

.chat{
	
	min-height:24px;
	
	border:1px solid #FFFFFF;
	position:relative;
	margin:0 15px 10px 0;float: right;padding: 8px 6px 8px 40px; background:#eee;
	width:256px;
}
.chat:after {
   border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #eee;
    
    border-style: solid;
    border-width: 8px;
    content: "";
    float: right;
    position: absolute;
    right: -16px;}
    
    
.chat:last-child{
	margin-bottom:0;
}

.chat span{
	color:#777777;
	
	font-size:12px;
}

.chat .text{
	color:#444444;
	display:inline-block;
	font-size:13px;
	overflow:hidden;
	vertical-align:top;
	width:auto;
	padding:2px 0 0 0;
}

.chat .gravatar{
	background:url('http://www.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?size=23') no-repeat;
	left:7px;
	position:absolute;
	top:7px;
}

.chat img{
	display:block;
	visibility:hidden;
}

.chat .time{
	position:absolute;
	right:10px;
	top:12px;
	font-size:11px;
}

.chat .author{
	margin-right:6px;
	font-size:11px;
	line-height:12px;
	color:rgba(33,186,241,1);
	
}


/* Chat User Area */


#chatUsers{
	background-color:#202020;
	border:1px solid #111111;
	height:360px;
	position:absolute;
	right:0;
	top:56px;
	width:150px;
}

#chatUsers .user{
	background:url('http://www.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?size=30') no-repeat 1px 1px #444444;
	border:1px solid #111111;
	float:left;
	height:32px;
	margin:10px 0 0 10px;
	width:32px;
}

#chatUsers .user img{
	border:1px solid #444444;
	display:block;
	visibility:hidden;
}


/* Bottom Bar */

#chatBottomBar{
	background:rgb(219, 219, 219); 
	position:relative;
	padding:5px;
	border:1px solid #fff;
}

#chatBottomBar .tip{
	position:absolute;
	width:0;
	height:0;
	border:10px solid transparent;
	border-bottom-color:#eeeeee;
	top:-20px;
	left:20px;
}

#chatContainer input{
	background:url('../img/input_bg.jpg') repeat-x #dcdcdc;
	height:26px;
	font:13px/26px Calibri,Arial,sans-serif;
	color:#777;
	border:1px solid;
	border-color:#c1c1c1 #eee #eee #c1c1c1;
	
	padding:0 5px;
	margin-right:5px;
	width:185px;
	outline:none;
}


#submitForm{
	display:none;
}

input#chatText{
	/* The chat submit text field */
	width:236px;
}


/* Overloading the default styles of jScrollPane */


.jspVerticalBar{
	background:none;
	width:20px;
}

.jspTrack{
	background-color:#202020;
	border:1px solid #111111;
	width:3px;
	right:-10px;
}

.jspDrag {
	background:url('../img/slider.png') no-repeat;
	width:20px;
	left:-9px;
	height:20px !important;
	margin-top:-5px;
}

.jspDrag:hover{
	background-position:left bottom;
}


/* Additional styles */


a.logoutButton{
	background:#285a69; text-decoration:none;border:none; 
	
	color:#FFFFFF;
	font-size:12px;
	padding:5px 9px;
	position:absolute;
	right:10px;
	
	top:7px;
	
}



#chatContainer .blueButton{
	background:url('../img/button_blue.png') no-repeat;
	border:none !important;
	color:#516D7F !important;
	display:inline-block;
	font-size:13px;
	height:29px;
	text-align:center;
	text-shadow:1px 1px 0 rgba(255, 255, 255, 0.4);
	width:75px;
	margin:0;
	cursor:pointer;
}

#chatContainer .blueButton:hover{
	background-position:left bottom;
}

p.noChats,
#chatUsers .count{
	clear:both;
	font-size:12px;
	padding:10px;
	text-align:center;
	text-shadow:1px 1px 0 #111111;
}

#chatUsers .count{
	font-size:11px;
}

.rounded{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#chatErrorMessage{
	width:100%;
	top:0;
	left:0;
	position:fixed;
	background-color:#ab0909;
	border-bottom:1px solid #d32a2a;
	font-size:23px;
	padding:16px;
	text-align:center;
	color:#fff;
	
	text-shadow:1px 1px 0 #940f0f;
}
#chatLineHolder{overflow-y:scroll !important;}
.jspContainer{overflow-y:scroll !important;}
#chatContainer{display:none;}
.supportChat{
	position:fixed;
	right:0px;
	top:360px;
	width:150px;
	height:50px;
	text-align:center;
	background-color:#21b8f1;
	padding-top:15px;
	cursor:pointer;
	color:#fff;
}
.chatLineHolder{height:335px;}


/*============================= 07-11-14 css =================================*/

#chatBottomBar	.blueButton { border-radius:4px; color:#fff !important;text-shadow:none; cursor:pointer;}
#chatTopBar,#chatBottomBar	.blueButton { background: rgba(33,186,241,1);
background: -moz-linear-gradient(top, rgba(33,186,241,1) 0%, rgba(30,160,211,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,186,241,1)), color-stop(100%, rgba(30,160,211,1)));
background: -webkit-linear-gradient(top, rgba(33,186,241,1) 0%, rgba(30,160,211,1) 100%);
background: -o-linear-gradient(top, rgba(33,186,241,1) 0%, rgba(30,160,211,1) 100%);
background: -ms-linear-gradient(top, rgba(33,186,241,1) 0%, rgba(30,160,211,1) 100%);
background: linear-gradient(to bottom, rgba(33,186,241,1) 0%, rgba(30,160,211,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21baf1', endColorstr='#1ea0d3', GradientType=0 );
}
#chatBottomBar .blueButton:hover,.supportChat:hover {background: rgba(30,168,214,1);
background: -moz-linear-gradient(top, rgba(30,168,214,1) 0%, rgba(59,175,217,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(30,168,214,1)), color-stop(100%, rgba(59,175,217,1)));
background: -webkit-linear-gradient(top, rgba(30,168,214,1) 0%, rgba(59,175,217,1) 100%);
background: -o-linear-gradient(top, rgba(30,168,214,1) 0%, rgba(59,175,217,1) 100%);
background: -ms-linear-gradient(top, rgba(30,168,214,1) 0%, rgba(59,175,217,1) 100%);
background: linear-gradient(to bottom, rgba(30,168,214,1) 0%, rgba(59,175,217,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ea8d6', endColorstr='#3bafd9', GradientType=0 );}
#chatContainer #loginForm #name, #chatContainer #loginForm #chat_email,#submitForm #chatText { height:30px; text-shadow:none; background:rgba(255,255,255,1); width:100%; border:1px solid #ccc; margin:0 0 5px; padding:5px 8px;}
#submitForm #chatText { /* width:236px !important; */}
#chatContainer #chatBottomBar .tip {border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(219, 219, 219);}
#chatContainer a.logoutButton:hover {background:#1d4550; color:#fff !important;}
