/** This common custom css for all section **/


section.post form input {
    float: left;
}
.hide{
	display:none;
}
.show{
	display:block;

}
.heading{
	
}
.list_none
{
	list-style:none !important;
}
.p10{
	padding:10px !important;
}

.floatL{
	float:left;
}
.floatR{
	float:right;
}
.mr10{
	margin-right:10px;
}
.ml10{
	margin-left:10px;
}
.mt10{
	margin-top:10px;
}
.m10{
	margin:10px;
}
.error{
	color:red;
}
.border{
	border:1px solid #ccc;
}
.content table{
	width :100%;
}
.text_center{
	text-align:center;
}
.content table th{
	padding: 10px;
	line-height: 13.5px;
	text-align: left;
	vertical-align: middle;
	border-top: 1px solid #ddd;
	font-weight:bold;
}
.content table td{
	padding: 10px;
	line-height: 13.5px;
	text-align: left;
	vertical-align: middle;
	border-top: 1px solid #ddd;
	word-break: break-all;
}

.sidebarL{
	float: left;
	width: 108px;
	padding: 7px;
	border: 1px solid #ccc;
	margin: 198px 10px 0px 16px;
	background: #e1e1e1;
	position: absolute;

}
.sidemenu ul li{
	padding:7px;
	border-top: 1px solid #ccc;
	list-style: none;
}
.sidemenu ul{
	padding:0px !important;
}
.clear{
	clear:both;
}

.pagination {
	margin: 2px 0;
	white-space: nowrap;
	float: right;
	margin: 0;
}

.pagination {
	margin: 0px 0px 5px 0px !important;
	padding-bottom: 0px !important;
	float: right;
}
.pagination ul li{
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	list-style: none;
	}
	
.pagination ul > li.active{
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #21b8f1;
	border-color: #1497c9;
}
.pagination ul > li:first-child{
margin-left: 0;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.pagination ul > li:last-child {
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}
	
	
	
.color_head{
 font-size: 14px !important;
 font-weight: bold;

}
p.breadcrumb + h2 {
  display:none;
}
.modal-backdrop.in
{
	opacity:0.5;
}
.error-box, .notice-box, .success-box { font-family:  Tahoma, "Helvetica Neue", Helvetica, sans-serif; font-weight: bold; font-size: 90%; letter-spacing: 0.5px; margin: 5px 0 10px 0; padding: 5px; text-align: center; line-height: 200%; vertical-align: middle; display: block;}
.error-box { background: #ffebe8 none repeat scroll 0 0; border: 1px solid #dd3c10; color: #dd3c10; }
.notice-box { background:#fffbe2 none repeat scroll 0 0; border: 1px solid #ffe222; color: #ffe222; }
.success-box {background: #eeffee none repeat scroll 0 0; border: 1px solid #99cc99; color: #99cc99; }
.error-box p, .notice-box p, .success-box p { padding: 0; margin-bottom: 10px; }
.content{
	min-height: 368px;
}
.border_none
{
	border:none!important;
}
.show_testi{
	height:63px;
	overflow:hidden;
}
.heading{
	font-weight:bold;
}
.testi_content{
	float:right;
}
a.disabled {
   pointer-events: none;
   cursor: default;
  }
.cursor_default{
	cursor: default;
}
article.album header img{
	/*width:251px!important; */
	max-height:150px; max-width: 220px;
}
article.album{
	word-wrap: break-word;
}
.img_view
{
	height: 54px;
	overflow: hidden;
}
.word_break{
	word-wrap: break-word;
}


.pay_get_logo{
	background: url(../img/PaymentGateway.jpg) no-repeat center center;
	height: 70px;
	border:1px solid rgb(232,232,232);
}
.width200{
	width:200px !important;
}
.bnr_search{
	width: 100%;
}

.p3{
   padding : 3px !important;
}
span.editTag {
	float: right;
}

.btn-custom {
    float: right !important;
    margin: 0 10px !important;
    min-width: 100px !important;
    width: auto !important;
}

.content-box {
    width: 850px !important;
}

.ajax_loader 
{ 
  padding: 5px;
  height: 12px;
}
.ma {  
  margin: auto; 
} 
.mr20 {  
  margin-right: 20px !important;
} 
.t5 {  
  top: 5px !important;
}
.pr{
    position: relative !important;
}
.text_align{
	text-align:center;
}

@media only screen 
and (min-device-width : 760px) 
and (max-device-width : 820px) {
article.album header img {
    max-height: 150px;
    max-width: 139px;
}


}
