<!-- Begin footer -->
<?php
	//get module name
	$module_name=module_name();
	$user=is_logged_in();
?>
<footer>
	 <div id="footer" class="footer_position">
    	<div class="container_inner">
            <div class="row">
                <div class="col-sm-12">
                    <div class="footer_links">
                        	<ul >
						
								{{ navigation:links group="footer" }}
								<!-- <li><a class="last" href="{{ url:current }}#top" title="{{ helper:lang line="back_to_top" }}">{{ helper:lang line="top_page" }} &uarr;</a></li> -->
						
							</ul>
                    </div>
                    <!--end of footer links-->
                </div>
            </div>
        </div>
        <!--end of container inner-->
        
        <div class="copyright">
        	<div class="container_inner">
        	<div class="row">
            	<div class="col-sm-12">
                	&copy;{{ helper:date format="Y" }} {{ settings:site_name }}. {{ helper:lang line="all_right_reserved" }}
                </div>
                <!--end of col 12-->
            </div>
            </div>
        </div>
        <!--end of row-->
    
    </div>
    <!--end of footer-->

<input type="hidden" class="base_url" value="<?php echo base_url();?>">

<!-- End footer -->

<!-- Start scripts -->
{{ theme:js file="jquery/bootstrap.js" }}

<!-- End scripts -->
</footer>

<script>
		function notificatinshow(message,type){
		var options = {
			'text':message,
			'layout':'bottom',
			'type':type,
			'closeButton':'true'
			};
		
		noty(options);
	}
	</script>
<!-- to ser global message -->
<?php $msg=getGlobalMessage(); 
	if(!empty($msg) && $msg['msg']!=''){ ?>
		<script>
	    //notifications
		notificatinshow('<?php echo $msg['msg']; ?>','<?php echo $msg['type'];?>');
		</script>
	<?php
	}
	  //load affiliate login form popup 
	 if(!$user){
		affiLogin_form();    
	}
?>

