
<!-- Begin header -->
<?php $group= userGroup(); 
	$url="merchant/dashbord";
	if($group==2){ $url='affiliate/dashbord';}
	if($group==1){ $url='admin';}
	//get module name
	$module_name=module_name();
	//get logged in user name or display name
	$userName= userName();


if(empty($userName) && !empty($this->current_user->username)){$userName = $this->current_user->username;}
?>

	<div class="header">
    	<div class="container_inner">
        	<div class="row">
            	<div class="col-sm-3 p3" id="logo_wrapper">
                	<a class="home_logo" href="<?php echo base_url();?>">
                    <?php echo getSiteLogo();?>
                    </a>
                </div>
                <!--end of logo wrapper-->
                
                <div class="nav_wrapper col-sm-9">
                  <nav role="navigation" class="navbar ">
					  <div class="navbar-header">
						<button data-target="#main_nav" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
						  <span class="sr-only">Toggle navigation</span>
						  <span class="icon-bar"></span>
						  <span class="icon-bar"></span>
						  <span class="icon-bar"></span>
						</button>
					  </div>
                  
                      <div id="main_nav" class="collapse navbar-collapse">
                          <ul class="nav navbar-nav">
							{{ navigation:links group="header" }} 
                          </ul>
                      </div><!-- /.navbar-collapse -->
                  </nav>  
                  <!--end of navbar-->

                  <div class="lns_wrapper pull-right">
					 {{ if user:logged_in }}
						
						{{ if settings:enable_profiles }}
							<a href="{{ url:site uri='<?php echo $url; ?>' }}"><?php echo ucfirst($userName); ?></a>
						{{ else }}
							{{ helper:gravatar email=user:email size="20" }} {{ user:display_name }}
						{{ endif }}

						
						<span class="">&nbsp;&bull;&nbsp;</span>
						<a href="{{ url:site uri='users/logout' }}" class="">{{ helper:lang line="logout_label" }}</a>

					{{ else }}
					<a href="javascript:void(0)" class="btn login affiLogin"  >Log In</a>
					<a href="{{ url:site uri='register' }}" class="btn login">Sign Up</a>
					
					{{ endif }}
					
			
                  </div>
                  <!--end of lns_wrapper-->
                                
    			</div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container_inner-->
    </div>
    <!--end of header-->

	
	<!-- Begin logo -->
	<!-- <div id="logo">
		<h1><a href="{{ url:site  }}" title="Home">{{ settings:site_name }}</a></h1>
		<h2 class="slogan">{{ settings:site_slogan }}</h2>
	</div> -->
	<!-- End logo -->

	<!-- Begin user meta -->
	
<!-- End user meta -->

<!-- End header -->

