@font-face {
	font-family:"LatoRegular";
	src:url("../fonts/Lato-Regular.eot?") format("eot"),
	url("../fonts/Lato-Regular.woff") format("woff"),
	url("../fonts/Lato-Regular.ttf") format("truetype"),
	url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg");
	font-weight:normal;font-style:normal;
}
@font-face {
	font-family:"LatoBold";
	src:url("../fonts/Lato-Bold.eot?") format("eot"),
	url("../fonts/Lato-Bold.woff") format("woff"),
	url("../fonts/Lato-Bold.ttf") format("truetype"),
	url("../fonts/Lato-Bold.svg#Lato-Bold") format("svg");
	font-weight:normal;font-style:normal;
}

.container_inner {
  margin: auto;
  max-width: 1020px;
}
#logo_wrapper h1 {
  color: #00B9FF;
  font-family: LatoBold;
  line-height: 70px;
  margin: 0;
}
.btn.medium_btn {  font-size: 22px;  line-height: 45px; padding: 0 20px;}
.btn.giant_btn {  font-size: 32px;  padding: 20px 30px;}

/*****************************Navigation css*********************************/
#main_nav .navbar-nav > li > a {  color: #393939;  font-family: LatoRegular;  font-size: 15px;  letter-spacing: 0.7px;  line-height: 70px;  margin-right: 30px;  padding: 0;}
#main_nav .navbar-nav > li:last-child > a {  margin-right: 0;}
#main_nav .navbar-nav > li > a:hover, #main_nav .navbar-nav > li > a:focus {  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);  color: #1AA0D3;}
nav.navbar {  display: inline-block;  margin-bottom: 0;}
.lns_wrapper {  line-height: 70px;}
.lns_wrapper .login, .lns_wrapper .signup {  float: left;  margin-top: 15px;}
.lns_wrapper .login {  border-radius: 4px 0 0 4px;  border-right: 1px solid #1AA0D3;}
.lns_wrapper .signup {  border-radius: 0 4px 4px 0;}
/*****************************Navigation css*********************************/
/*****************************Slider css*********************************/
.slider_wrapper { background:url(../images/slider_back.jpg) no-repeat top center;  min-height: 500px; }
.slider_wrapper .carousel-inner > .item { min-height:500px;}
.carousel-caption > h1 {  font-size: 45px; text-align:left; margin-bottom: 25px;}
.carousel-caption p {  font-size: 27px;  line-height: 40px;  text-align: left;  margin-bottom: 65px;}
.carousel-caption .btn.medium_btn {  margin-left: -35px; }
.carousel-caption .btn i {  margin-left: 15px;}
#main_slider .glyphicon-chevron-left:before ,#main_slider .glyphicon-chevron-right:before{  visibility: hidden;}
#main_slider:hover .glyphicon-chevron-left:before ,#main_slider:hover .glyphicon-chevron-right:before{  visibility: visible;}
/*****************************Slider css*********************************/
.content_wrapper {
  color: #505050;
}
.affiliated_wrapper {
  padding-top: 35px;
}
.affiliated_content h1 {
  color: #21B8F1;
  margin-top: 0;
}
.affiliated_content h3 {
  color: #A7A7A7;
}
.affiliated_content p {
  color: #505050;
  line-height: 16px;
}
.affiliated_img img {
  margin-top: 30px;
}
.affiliated_ul {
  float: left;
  margin: 20px 0 0;
  padding: 0;
  width: 100%;
}
.affiliated_ul li {
  float: left;
  line-height: 30px;
  min-width: 33%;
  list-style:none;
}
.affiliated_ul li a {
  background: url("../images/list-icon.png") no-repeat scroll 5px 5px rgba(0, 0, 0, 0);
  color: #505050;
  display: inline-block;
  line-height: 26px;
  padding-left: 35px;
}
.affiliate_signup {
  font-size: 20px;
  line-height: 30px;
  margin-top: 50px;
  padding: 0 15px;
  word-spacing: 1px;
}
.affiliate_signup a{ color:#21b8f1;border-radius: 0;}
a.btn.big_btn {
  color: #FFFFFF;
  display: table;
  font-size: 28px;
  line-height: 55px;
  margin: 40px auto auto;
  padding-left: 45px;
  padding-right: 35px;
}
.affiliate_signup a.btn i {
  margin-left: 15px;
}
.box_wrapper {
  background: none repeat scroll 0 0 #FFFFFF;
  display: table;
  margin: auto;
  padding: 40px 23px;
  text-align: center;
  width: 425px;
-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.20);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.20);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.20);
}
.col2_wrapper {
  margin-top: 42px;
}
.box_image {
  display: inline-block;
  min-height: 150px;
  text-align: center;
  width: 100%;
}
.box_wrapper h2 {
  margin-bottom: 18px;
}
.box_wrapper > p {
  font-size: 15px;
  margin-bottom: 10px;
  min-height: 150px;
  text-align: left;
}
.browse_network {
  margin-bottom: 80px;
  margin-top: 80px;
}
#footer {
  border-top: 1px solid #F2F1F2;
  display: inline-block;
  margin-top: 6px;
  width: 100%;
}
.footer_links > ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.footer_links li {
  display: inline-block;
}
.footer_links li a {
  border-right: 1px solid #505050;
  color: #505050;
  padding-left: 10px;
  padding-right: 10px;
}
.footer_links li:first-child a {
  padding-left: 0;
}
.footer_links li:last-child a {
    border: medium none;
}
.footer_links {
  padding: 10px 0 15px;
}
.copyright {
  background: none repeat scroll 0 0 #21B8F1;
  color: #FFFFFF;
  font-size: 12px;
  padding: 10px 0;
}