
div#slideshow {
	position: relative;
	height:336px;
}
	div#slideshow ul#nav{
		display:block;
		list-style: none;
		position:absolute; top: 290px; z-index: 15; right:189px;
		width:90px;
	}
		div#slideshow ul#nav li#prev {
			float: left; margin:0 -1px 0 0; width:45px;
		}
		div#slideshow ul#nav li#next {
			float: right; margin:0; width:45px;
		}
		div#slideshow ul#nav li a {
			display: block; width: 80px; height: 80px; text-indent: -9999px;
		}
			div#slideshow ul#nav li#prev a {
				background: url(../images/arrow_left_front_end_banner_new.png) no-repeat;
				display: block;
				height: 46px;
				opacity: 0.7;
				outline: 0 none;
				text-align: center;
				width: 46px;
				float:right;
			}
			div#slideshow ul#nav li#next a {
				background: url(../images/arrow_left_front_end_banner_new.png) no-repeat; background-position:0 -56px;
				display: block;
				height: 46px;
				opacity: 0.7;
				outline: 0 none;
				text-align: center;
				width: 46px;
				float:right;
			}

	div#slideshow ul#slides {
		list-style: none;
	}
		div#slideshow ul#slides li {
			margin: 0 0 20px 0;
		}

a {outline: none; }
