.pagingContent .spencer_wp{margin:5px auto; background-color:#FFFCF4; border:#F4F3F0 solid 1px; }
.pagingControls{ clear: both;
    margin: 5px 0 5px 0;
    padding-bottom: 10px;}
.pagingControls ul{display:inline;padding-left:0.5em}

.Page_cont {
    background: url("../images/pagination_normal.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    height: 24px;
    line-height: 23px;
    margin: 0 7px 0 0;
    text-align: center;
    width: 26px;
    
}
.Page_cont  a{
	float: none !important;
	height: auto !important;
	padding: 1px 3px !important;
	width: auto !important;
}
.cont_sel {
	  background: url("../images/pagination_select.png") no-repeat scroll 0 0 transparent !important;
}
.pagging_but {
   height: 24px;
   cursor: pointer;
   float: left;
    background: url("../images/pagination_normal.png") no-repeat scroll 0 0 transparent;
    line-height: 23px;
    margin: 0 20px 0 0;
    text-align: center;
    width: 26px;
}

.rev_arrow_Previous {
	background: url("../images/btn_prev.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 24px;
    margin: -1px;
    width: 44px;
}
.rev_arrow_Next{
	 background: url("../images/btn_next.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 24px;
    margin: -1px 0 0;
    width: 44px;
}

.Page_cont:last-child{
	margin:0px;

}

.Page_cont:first-child{
	margin-left:5px;

}

.Page_cont:hover{
	 color: #000000 !important;
}


a.pagingButton span {
	background: transparent url('../images/paging_left.png') no-repeat 0px 0px;
	display: block;
	line-height: 22px;
	padding: 0px 0 0px 9px;
	color: #5C5C5C;
	text-align: center;
}
a.pagingButton {
	background: transparent url('../images/paging_right.png') no-repeat top right;
	display: block;
	float: left;
	height: 24px;
	margin-right: 6px;
	padding-right: 10px;
	text-decoration: none;
}
a.pagingButton:hover span {
	background-position: 0 -24px !important;
	color: #000000 !important;
}
a.pagingButton:hover {
	background-position: right -24px !important;
}

.pagingActiveTab span {
	background-position: 0 -24px !important;
}
.pagingActiveTab {
	background-position: right -24px !important;
}
