/** This css only for membership modules */
/* */

.add_btn {
	float:right;
	margin-right: 22px;
}
.feature_span{
 margin: 0px 203px 0px 17px;
}
.pagination
{	
	margin: 0px 0px 5px 0px !important;
	padding-bottom: 0px !important;
	float: right
}
.membership_div
{
	width:800px;
	margin-top: 5px;
}
.feature_div
{
	float:left;
	width: 400px;
}
.clear
{
	clear:both;
}
.frontend_error{
	background: #ffebe8 none repeat scroll 0 0;
	border: 1px solid #dd3c10;
	color: #dd3c10;
}
.frontend_error p{
	font-size: 12px;
	padding: 3px;
	margin:0px;
}
section.post {
	font-size: 12px;
}
section.post form input.user_type
{
	margin:0;
	float:none;
}
.floatL{
	float:left;
}
.feature_wrapper{
	
	width: 341px;
	float: left;
}
.border
{
	padding:20px;
	border: 1px solid #c4c4c4;
}
section.post form label
{
	margin-top: 8px;
}

.price_div{
	float: right;
	margin-right: 10px;
	font-weight: bold;
	font-size: 14px;
}
section.post form input
{
	margin:0;
	float:none;
}
.nrf{
text-align:center;
font-weight: bold;
}
