/*	
	Document   : style.css
	Author     : Eliza Witkowska (http://codebusters.pl/en/)
	Description: Stylesheet for CodeIgniter frontend tip files editor.
*/
body {
	font-family: Arial, Helvetica, sans-serif;
/*
Commented 24 May 2013font-size: 14px;
* */
	margin: 0px 0px;
}

#contentWrap {
	width: 700px;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
}

#contentTop {
	width: 600px;
	padding: 10px;
	margin-left: 30px;
}

#contentLeft {
    float: left;
    position: relative;
    width: 247px;
}

#contentLeft li {
	color: #FFFFFF;
    list-style: none outside none;
    margin: 0 0 4px;
    padding: 5px;
    width: 230px;
	
}

#contentRight {
	float: right;
	width: 260px;
	padding:10px;
	background-color:#336600;
	color:#FFFFFF;
}
#move_tip_img {
    padding-top: 6px;
    position: absolute;
    right: 0;
}
