/* simple css-based tooltip */
.tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:auto;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;
 
    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}
button {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    cursor:pointer;
}
.clear{
	margin:0;
	padding:0;
	clear:both;
}
.validation_msg{
	color:red;
	display:none;
}
.lang_sel{
	color:black;
	font-weight:bold;
	padding:8px;
}
.error_msg{
	color:#f00;
}
.advert_heading{
	float:left;
}
.advert_add_link{
	float:right; 
	padding-top:15px;
}
.advert_add_link_text{
	margin-left:10px; 
	color:#fff; 
	font-weight:bold; 
	text-decoration:underline;
}
.fLeft{
	float:left;
}
.fRight{
	float:right;
}
.fRight h3{
	margin-top:15px;
}
.linkText{
	text-decoration:none;	
	color:#fff;	
}
.edit_item{
	background: url("../img/icons/icon_edit.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 16px;
    width: 18px;	
}

span.button {
    background: url("../img/right_btn_bg.png") no-repeat scroll right top transparent;
    color: #FFFFFF;
    display: block;
    font: bold 16px arial,sans-serif;
    height: 28px;
    padding: 0 15px 0 0;
    
}
.next_bt {
    width: 81px;
}
span.button span {
    background: url("../img/left_btn_bg.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 0 0 0 15px;
}

.name_box_wrapper{
	width:auto;
	height:auto;
}


.user_box{
	background:url(../img/name-1.jpg);
	width:41px;
	height:40px;
	float:left;
	padding:7px;
}

.user_name-box{
	float:left;
	height:31px;
	padding:0 10px;
	margin:12px 0 0 0;
	font-weight:bold;
	font-size:12px;
	line-height:30px;
	color:#353333;
	background:url(../img/name-2.png) top right no-repeat;
}
.div-title-text{
	margin-bottom:5px;	
}
.div-coloum{
	margin-right:5px;	
}
.con_button{
	/*margin:25px auto 0 12%;*/
}
.confirm_box .head-box{
	padding-bottom:5px;margin-bottom:15px;border-bottom:1px solid grey;
}
// By piyush
.cp_box{width:300px;}
	.fleft{float:left;}
	.clear{clear:both;}
	.fright{float:right;}
	.padding{padding-left:15px;}
	.confirm_text{
 	 font-size: 16px;
    font-weight: bold;	
    height: 30px;
    text-align: center;
	}
	.update_point_box{
	 height: 77px;
    margin-left: 68px;
    padding: 13px;	
		}
		.con_button{
	margin-left: 106px;
    }
    .label{
    font-weight: bold;
    padding-right: 10px;}
    .edit_icon{
    	background: url("../img/icons/icon_edit.png") no-repeat scroll 0 0 transparent;
    	height: 29px;
    	width: 17px;
    	float:left;
    	padding:1px;
    	}
    	.delete_icon{
 		background: url("../img/icons/icon_missing.png") no-repeat scroll 0 0 transparent;
    	height: 29px;
    	width: 17px;
    	float:left;
    	padding:1px;
    			}
    	.reply_icon{
 		background: url("../img/icons/icon_comment.png") no-repeat scroll 0 0 transparent;
    	height: 29px;
    	width: 17px;
    	float:left;
    	padding:1px;
    			}
    	#support_ans_update{
    	width:400px;
    	height:100px 
    			}
.admin_user {
	width:50px;
	float:left;
}
.filter {
float:right;
}
#fancybox-outer{
border:8px solid #1FC96A;
}
.view_user_point{
   	background: url("../img/icons/user_point.png") no-repeat scroll 0 0 transparent;
    	height: 29px;
    	width: 25px;
    	float:left;
    	padding:1px;
 }
.table{
		padding:25px;
		width: 300px;	 
	}
.padding-common{padding:10px;}
.border{border:1px dotted #787878; }

/* 11-profile-06-settings-security-displayed-tab.psd page start here */


.rowNewprofile {
	color: #676767;
	font-family: Tahoma;
	font-size: 12px;
	height:auto;
	background:url(../images/rowsprit.jpg) repeat-x;
	padding-top:8px;
	max-width:550px;
	padding-bottom:10px;
}
.LeftClMBoxSP3 {
	float:left;
	width:130px;
	height:auto;
}
.MidClMBoxSP3 {
	float:left;
	width:300px;
	height:auto;
	padding-right:10px;
}
.MidClMBoxSP3_top {
	float:left;
	width:405px;
	height:auto;
	padding-right:10px;
}
.MidClMBoxSP3_below {
	float:left;
	margin-left:130px;
	width:417px;
	height:auto;
	padding-top:10px;
}
.MidClMBoxSP3 a {
	color:#676767;
}
.MidClMBoxSP3 a:hover {
	text-decoration:none;
}
.MidClMBoxSP3 p {
	padding-bottom:10px;
}
.MidClMBoxSP3 label {
	float:left;
	line-height:14px;
	width:280px;
}
.BoxSP3checkbox {
	float:left;
	width:17px;
	padding-top:2px;
8padding-top:0px;
}
.RightClMBoxSP3 {
	float:right;
	width:100px;
	height:auto;
	text-align:right;
}
.bordernonesp3 {
	border:none;
}
.heightNew9sp3 {
	width:auto;
	height:7px;
}
.colorDif {
	color:#505050;
}
.removebg {
	background:none !important;
}
.lightclr {
	color:#9f9f9f
}
.highlight {
	color:#676767
}
.deviceL_txt {
	display:inline-block;
	width:120px;
}
.deviceR_txt {
	display:inline-block;
	width:120px;
}
.deviceR_link {
	display:inline-block;
	width:48px;
}
.boldtxt {
	font-weight:bold;
}
.LoggL_txt {
	display:inline-block;
	width:100px;
	text-align:right;
}
.LoggR_txt {
	display:inline-block;
	width:196px;
}
.bdr_botm {
	border-bottom:solid 1px #e1e1e1;
	padding-bottom:10px;
}
.font11px {
	font-size:11px;
}
.end_actclr {
	color:#1dbc63;
	padding-right:10px;
}
.pdgLR10px {
	padding:0 10px 0 10px;
}
.user_section_box{
	float:left;
	width:150px;	
}
.dividerRow{
	border-bottom:1px solid Gainsboro;
}
.admin_section_div{
	text-align:center;
}
.status_a{
background: url("../img/icons/active-icon.jpg") no-repeat scroll 0 0 transparent;
height:20px;
width:20px;
}
.status_d{
background: url("../img/icons/icon_close.png") no-repeat scroll 0 0 transparent;
height:20px;
width:20px;
}
#profileContentWide{
width:350px;
}
.heading_statistics{
text-align:center;
}
#popup_box3 {
    display:none; /* Hide the DIV */
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6 */  
    height:auto;  
    width:316px;  
    background:#FFFFFF;  
    left: 300px;
    top: 150px;
    z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left: 15px;  
   
    /* additional features, can be omitted */
    border:10px solid #1AB25D;      
    padding:15px;  
    font-size:15px;  
}

#popup_box3 h1{
padding-bottom:5px;
font-weight:bold;
color:grey;
}
#popup_box4{
    display:none; /* Hide the DIV */
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6 */  
    height:auto;  
    width:316px;  
    background:#FFFFFF;  
    left: 300px;
    top: 150px;
    z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left: 15px;  
   
    /* additional features, can be omitted */
    border:10px solid #1AB25D;      
    padding:15px;  
    font-size:15px;  
}

#popup_box4 h1{
padding-bottom:5px;
font-weight:bold;
color:grey;
}
.user_content_tr{
height:auto;
border-bottom: 1px ridge #DEDEDE;
}


.ajaxLoading {
    background: url("../img/ajax-loader.gif") no-repeat scroll center center transparent;
    margin: 0 auto;
    padding: 24px 10px !important;
    width: 60px;
}

.common_settings_status{
	display:none; font-weight:bold; font-size:10px;
}
