@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,700,800,400);

@charset "utf-8";p{line-height:17px;}
h1{font-size:25px;margin-bottom:10px;padding:10px 0;color:#F1592A;}
h2{font-size:20px;line-height:24px;font-family: "Open Sans";}
a{color:#565a5c;cursor:pointer;text-decoration:none;}


.fshel_midum{font-family:Arial,sans-serif;}
.font_notmal{font-family:'arial' !important;}
.opens_light{font-family:'OpenSansLight' !important;}
.opensans_regular,.open_sans{font-family:'open_sansregular';}
.fnt_MuseoSlab,.font_mouse{font-family:'MuseoSlab-500' !important;}
.gotham_r{font-family:'GothamBookRegular';}
.arialbold {font-family:'arial_mtregular';}
.condenser_light {font-family:'OpenSansCondensedLight' !important;}
/*====================Sapraters=======================*/


	
	


.mr90 { margin-right:90px;}

.bc2c2c2 { border:1px solid #c2c2c2;}
.sap_10{height:10px;width:100%;clear:both;}
.sap_15{height:15px;width:100%;clear:both;}
.sap_20,.seprator_20{height:20px;width:100%;clear:both;}
.sap_25{height:25px;width:100%;clear:both;}
.sap_30{height:30px;width:100%;clear:both;}
.sap_35{height:35px;width:100%;clear:both;}
.sap_40{height:40px;width:100%;clear:both;}
.sap_45{height:45px;width:100%;clear:both;}
.sap_50{height:50px;width:100%;clear:both;}
.sap_55{height:55px;width:100%;clear:both;}
.sap_60{height:60px;width:100%;clear:both;}
.sap_65{height:65px;width:100%;clear:both;}
.sap_80{height:80px;width:100%;clear:both;}
.bd_none{border-bottom:none!important;}
.bg_ededed{background:#ededed;}
.seprator_7{height:7px;overflow:hidden;}
.clr_444{color:#565a5c !important;}
.width288imp { width:288px !important;}
/*==================== Font Style =======================*/
.height67 { height:67px;}
.width576{width:576px;}
.mt23{ margin-top:23px;}
.pt1{ padding-top:1px !important;}
.min_w135{min-width:135px;}
.width780{width:780px;}
 .width155{width:155px !important;}
.width178{width:178px;}
.width226{width:226px;}
.width367{width:367px;}
.width495{width:495px;}
 .width758{width:758px !important;}
 img{max-width:100%;}
.width177{width:177px !important;}
.lineH50{line-height:50px;}
.min_wi250{min-width:250px;}
.min_w138{min-width:138px !important;}
.width742{width:742px;}
.width90{width:90px !important;}
 .width50per{width:50%;}
.wid940{width:940px;}
.bdrb_f15921{border-bottom:1px solid #f15921;}
.width772{width:772px;}
.pt17{padding-top:17px;}
 .pr30{padding-right:30px;}
.fs36{font-size:36px !important;}
.ml28{margin-left:28px;}
.fs15{font-size:15px;}
.fs33{font-size:33px;}
.lineH_15{line-height:15px;}
.lineH28{line-height:28px;}
.lineH41{line-height:41px;}
.bg_f7f7f7{background:#f7f7f7;}
.bdr_b1b1b1{border:1px solid #b1b1b1;}
.fs31{font-size:31px;}
.fs18{font-size:18px;}
.fs21{font-size:21px; font-family:'open_sansregular';}
.fs13{font-size:13px;}
.fs12{font-size:12px !important;}
.fs29{font-size:29px;}
.fs16{font-size:16px !important;}
.fs19{font-size:19px;}
.fs28{font-size:28px;}
.fs23{font-size:23px;}
.fs14{font-size:14px!important;}
.fs22{font-size:22px;}
.fs32{font-size:32px;}
.fs17{font-size:17px !important;}
.fs25{font-size:25px;}
.fs26{font-size:26px;}
.fs34{font-size:34px;}
.fs11{font-size:11px!important;}
.fs32{font-size:32px;}
.fs17{font-size:17px;}
.fs25{font-size:25px;}
.fs26{font-size:26px;}
.fs27{font-size:27px !important;}
.fs20{font-size:20px !important;}
.fs22{font-size:22px;}
.fs32{font-size:32px;}
.fs17{font-size:17px;}
.fs25{font-size:25px;}
.fs26{font-size:26px;}
.fs0{font-size:0px;}
.fs24{font-size:24px;}
.fs19, .fs20, .fs21, .fs22, .fs23, .fs24,
.fs25,.fs26,.fs27,.fs28,.fs29,.fs30,.fs31,.fs32,.fs33,.fs34 { font-family:"OpenSansLight";}

.fs15, .fs15, .fs16, .fs17, .fs18 { font-family:"Open Sans";}
.mt-34{margin-top:-34px;}
.lettsp-1p{letter-spacing:-1px;}
.textin30{text-indent:30px;}
h2.fs29{line-height:34px;}
.clr808285{color:#808285;}
.width736{width:736px;}
.width650{width:650px;}
.width740{width:740px;}
.lettsp1{letter-spacing:1px;}
.height31{height:31px;}
.bdrbfbfbf{border:1px solid #bfbfbf;}
.left0{left:0;}
.max-159{max-width:159px;max-height:159px;}
.lettsp3{letter-spacing:.3px;}
.H130{height:130px;}
/*==================== Icon css =======================*/
.share{background:url(../images/Share-Icon_hover.png) 0 0 / 30px auto no-repeat;}
.icon_view3_blog,.btn_share_icon,.icon_crave3_blog,.icon_crave4_blog,.icon_so{float:left;font-size:12px;height:17px;padding-left:23px;}
.common_graphic{margin:0 4px;width:35px;height:32px;display:inline-block;background:url(../images/all_icon.png) no-repeat;}
.mail_icon{font-size:12px;text-align:center;display:inline-block;white-space:nowrap;width:48px;height:14px;background:url(../images/mailer_icons.png) no-repeat;padding:25px 0px 0;margin:0 4px;}
.share.common_graphic{background:url(../images/Share-Icon_hover.png) -4px 3px / 28px auto no-repeat;}
a.mail_icon:hover{text-decoration:none!important;}
body a.mail_icon{color:#a9a9a9;}
.pdf_icon{background-position:-164px -211px;}
.facebook_icon{background-position:4px -5px;}
.twetter_icon{background-position:0 -33px;}
.linkdein_icon{background-position:2px -70px;}
.filcr_icon{background-position:3px -135px;}
.share_icon{background-position:0 -167px;}
.dribble_icon{background-position:-80px -176px;}
.be_icon{background-position:-80px -176px;}
.Stumble_icon{background-position:0 -105px;}
.amozon_icon{background-position:-81px -210px;}
.google_icon{background-position:-80px -104px;}
.email_icon{background-position:-80px -176px;}
.link_icon{background-position:-80px -176px;}
.digg_icon{background-position:-80px -72px;}
.pin-interest_icon{background-position:-80px -42px;}
.reddit_icon{background-position:-78px -141px;}
.box_icon{background-position:-81px -7px;}
.facebook_icon:hover{background-position:-37px -5px;}
.twetter_icon:hover{background-position:-41px -33px;}
.linkdein_icon:hover{background-position:-39px -70px;}
.filcr_icon:hover{background-position:-37.8px -135px;}
.share_icon:hover{background-position:-41px -167px;}
.dribble_icon:hover{background-position:-80px -176px;}
.be_icon:hover{background-position:-80px -176px;}
.Stumble_icon:hover{background-position:-41px -105px;}
.amozon_icon:hover{background-position:-126px -210px;}
.google_icon:hover{background-position:-125px -104px;}
.email_icon:hover{background-position:-80px -176px;}
.link_icon:hover{background-position:-80px -176px;}
.digg_icon:hover{background-position:-125px -72px;}
.pin-interest_icon:hover{background-position:-125px -42px;}
.reddit_icon:hover{background-position:-123px -141px;}
.box_icon:hover{background-position:-126px -7px;}
.yahoo_icon{background-position:0 0;}
.gmail_icon{background-position:-50px 0;}
.hotmail_icon{background-position:-100px 0;}
.reddif_icon{background-position:-143px 0;}
.our_icon{background-position:-189px 0;}
.yahoo_icon:hover{background-position:0 -41px;}
.gmail_icon:hover{background-position:-50px -41px;}
.hotmail_icon:hover{background-position:-100px -41px;}
.reddif_icon:hover{background-position:-143px -41px;}
.our_icon:hover{background-position:-189px -41px;}
.minw_252{min-width:252px;}
.minH167{min-height:167px;}
 .mr-1{margin-right:-1px;}
.clearbox{width:100%;display:inline-block; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
/*==================== color css =======================*/
.c8b9c00{color:#8b9c00;}
.bg_8b9c00{background:#8b9c00;}
.bdr_b6b6{border:1px solid #b6b6b6;}
.bg_222222{background:#222;}
.bg_f5f5f5{background:#f5f5f5;}
.bg_ed1c24{background:#ed1c24;}
.bg_ededed{background:#ededed;}
.bg_f6f6f6{background:#f6f6f6;}
.bg_dfdfdf{background:#dfdfdf;}
.bdr4_aacc29{border:solid 4px #aacc29;}
.bdr4_3F3F3F{border:solid 4px #3F3F3F;}
.bdr4_0268F1{border:solid 4px #0268F1;}
.bdr4_2F1A04{border:solid 4px #2F1A04;}
.bdr4_850101{border:solid 4px #850101;}
.bb_ccc{border-bottom:1px solid #ccc;}
.bbc8c8c9{border-bottom:1px solid #c8c8c9;}
 .bbf47a55{border-bottom:1px solid #f47a55;}
.bg_fff{background:#fff;}
.bg_f1f1f1{background:#f1f1f1;}
.bg_F0F0F0{background:#f0f0f0;}
.bg_f9f9f9{background:#f9f9f9;}
.bg_aaa{background:rgba(170,170,170,.35);}
.bg_e70000{background:#e70000 !important;}
.b_f7f7f7{background:#f7f7f7;}
.clr_fff,.clr_white{color:#fff!important;}
.color_444{color:#565a5c;}
.lineH8{line-height:8px;}
.color_999{color:#999;}
.color_818181{color:#818181;}
.colr_999899{color:#999899;}
.red{color:#f1592a!important;}
.color_666,.clr_666{color:#666;}
.clr_777{color:#777;}
.bgimg_none{background:none!important;}
.bg_f6f6f6{background:#f6f6f6;}
.green{color:#8b9c00;}
.greenimp{color:#8b9c00 !important;}
.bgeff0e7{background:#eff0e7;}
.bt_F1592A{border-top:1px solid #f1592a;}
 .clr8b9c00{color:#8b9c00 !important;}
.bgfbf9f9{background:#fbf9f9;}
.bgf4f4f4{background:#f4f4f4;}
.bg4d4c52{background:#4d4c52;}

/*========= =========== border color css =======================*/
.bdr_ececec{border:1px solid #ececec!important;}
.bg_f1592a{background:#f1592a !important;}
.bg_4d4d4d{background:#4d4d4d !important;}
.bt_aeaeae{border-top:1px solid #aeaeae;}
.bb_F1592A{border-bottom:1px solid #F1592A;}
.bdr_a1a1a1{border:1px solid #a1a1a1;}
.bdr_c3c3c3{border:1px solid #c3c3c3;}
.b_b9b9b9{border:1px solid #b9b9b9;}
.bdr_d6d6d6{border:1px solid #d6d6d6;}
.bdrL_c3c3c3{border-left:1px solid #c3c3c3;}
.bdrR_c3c3c3{border-right:1px solid #c3c3c3;}
.bb_b6b6b6{border-bottom:1px solid #b6b6b6;}
.bb_e9e9e9{border-bottom:1px solid #e9e9e9;}
.bdr_aeaeae{border:1px solid #aeaeae;}
.bdr_d1d1d1{border-left:1px solid #d1d1d1;}
.bdr_r_C7C7C7{border-right:1px solid #c7c7c7;}
.bdr_c4c4c4{border:1px solid #c4c4c4;}
.bdr_a0a0a0{border:1px solid #a0a0a0;}
.bdr_right_666{border-right:1px solid #c2c2c2;}
.bb_e7e7e7{border-bottom:1px solid #e7e7e7;}
.bb_b7b7b7{border-bottom:1px solid #b7b7b7;}
.bdrb_afafaf{border-bottom:1px solid #afafaf;}
.BB_dadada{border-bottom:1px solid #dadada;}
.BT_dadada{border-top:1px solid #dadada;}
.ml25{margin-left:25px;}
.bdr_b_c7c7c7{border-bottom:1px solid #c7c7c7;}
.orange_color{border-bottom:1px solid #aeaeae;}
.bdr_b1b1b1{border:1px solid #b1b1b1;}
.bdr_b_b7{border-bottom:1px solid #e8e8e8;}
.bdr_b4b4b4{border:1px solid #b4b4b4;}
.bd_none{border:none;}
.bdr_adadad{border:1px solid #adadad;}
.bdr_F1592A{border:1px solid #F1592A;}
.bb_aeaeae{border-bottom:1px solid #aeaeae;}
.bdr_bbb{border:1px solid #bbb!important;}
.bdr_b5b5b5{border:1px solid #b5b5b5;}
.bl_e7e7e7{border-left:1px solid #e7e7e7;}
.bb3_F1592A{border-bottom:3px solid #F1592A;}
.bt_fac8b8{border-top:1px solid #fac8b8;}
.bg_444{background-color:#444;}
.bdr_898989{border:1px solid #898989;}
.bdr_c3c3c3{border:1px solid #c3c3c3;}
.clr_888{color:#888;}
.clr_geern{color:#8c9c00 !important;}
 .radius4{border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
.textin20{text-indent:20px;}
.dis_inliB{display:inline-block;}
.verti_top{vertical-align:top !important;}
.bre9e9e9{border-right:1px solid #e9e9e9;}
.btf47a55{border-top:1px solid #f47a55;}
.cour_poin{cursor:pointer;}
.blcccccc{border-left:1px solid #ccc;}
.bbc1c1c1{border-bottom:1px solid #c1c1c1;}
.btd2d2d2{border-top:1px solid #d2d2d2;}
.textindent203{text-indent:203px !important;}
/*.textindent228{text-indent:228px !important;}
*/
.bdrcece{border:1px solid #cecece;}
/*==================== width css =======================*/
.width_115{width:115px;}
.min_w90{min-width:90px;}
.width150{width:150px!important;}
.width410{width:410px;}
.width565{width:565px;}
.width_302{width:302px;}
.width400imp{width:400px !important;}
.height171{height:171px;}
.min-height38{min-height:38px;}
.width745{width:745px;}
.min_height360{min-height:360px;}
.height275{height:275px;}
.width468{width:468px;}
.width421{width:421px;}
.height137{height:137px;}
.min_w188{min-width:188px;}
 .heightauto{height:auto !important;}
.pb45{padding-bottom:45px !important;}
.width903{width:903px;}
.width250{width:250px !important;}
.min_w100{min-width:100px;}
.width770{width:770px;}
.min_w156{min-width:156px;}
.maxw_188{max-width:188px;}
.width530{width:530px;}
.width_208{width:208px;}
.width156{width:156px;}
.width_566{width:566px;}
.width_487{width:487px;}
.width_545{width:545px;}
.width_674{width:674px;}
.width_607{width:607px;}
.width633{width:633px!important;}
.width788{width:788px;}
.width_69{width:69px!important;}
.width_75{width:75px;}
.width_176{width:176px;}
.width_730{width:730px;}
.width_75{width:75px;}
.width_223{width:223px;}
.width_524{width:524px!important;}
.width_350{width:350px;}
.width_196{width:196px!important;}
.width88{width:88px;}
.width_294{width:294px!important;}
.width605{width:605px;}
.width_615{width:615px;}
.width_472{width:470px;}
.width600{width:600px;}
.width527{width:527px;}
.width630{width:630px;}
.width612{width:612px;}
.width610{width:610px;}
.width640{width:640px;}
 .width166{width:166px!important;}
.width611{width:611px!important;}
.width100_per,.width_100_per{width:100%!important;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.width_665{width:635px;}
.width_232{width:232px;}
.widht130{width:130px;}
.width152{width:152px;}
.widht_85{width:85px;}
.width900{width:900px;}
.width169{width:169px;}
.width_160{width:160px!important;}
.width_180{width:180px!important;}
.width_240{width:240px!important;}
.width375{width:375px !important;}
.width520{width:520px;}
.width519{width:519px;}
.width329{width:329px;}
.width176{width:176px;}
.width_307{width:307px!important;}
.width_534{width:534px!important;}
.width_400{width:400px;}
.width_280{width:280px;}
.width_216{width:216px;}
.width_361{width:361px;}
.width_325{width:325px;}
.width_333{width:333px;}
.width294{width:294px;}
.width258{width:258px;}
.width565{width:565px;}
.widht10{width:10px;}
.width560{width:560px;}
.width_258{width:258px!important;}
.width86{width:86px;}
.width_493{width:493px!important;}
.width_190{width:190px;}
.width_88{width:88px!important;}
.width228{width:228px!important;}
.width_175{width:175px!important;}
.width_635{width:635px;}
.width_130{width:130px!important;}
.width_65{width:65px!important;}
.width826{width:826px;}
.width635{width:635px!important;}
.width477{width:477px;}
.width472{width:472px;}
.width186{width:186px;}
 .width_605{width:605px!important;}
.width_auto{width:auto!important;}
.minwidth_165{min-width:165px!important;}
.min_w177{min-width:177px;}
.width_542{width:542px;}
.width_556{width:556px!important;}
.min_width_79{min-width:79px;}
.width100{width:100px!important;}
.width_273{width:273px;}
.width_252{width:252px;}
.width_114{width:114px;}
.width_112{width:112px!important;}
.width_270{width:270px!important;}
.width_325{width:325px!important;}
.width_315{width:315px!important;}
.width_380{width:380px!important;}
.width_478{width:478px!important;}
.width_141{width:141px;}
.width_120{width:120px;}
.right0{right:0;}
.width_400{width:400px;}
.width455{width:455px;}
.minw20{min-width:20px;}
.width305{width:305px;}
.height_60{height:60px;}
.width775{width:775px;}
.width262{width:262px;}
.width572{width:572px;}
.width550{width:550px;}
.width106{width:106px;}
 .width706{width:706px;}
 /*==================== padding css =======================*/
.pr13{padding-right:13px;}
.pr60{padding-right:60px;}
.pad30{padding:30px;}
.pr58{padding-right:58px;}
.pb42{padding-bottom:42px;}
.p20{padding:20px;}
.pt0{padding-top:0 !important;}
.pb10{padding-bottom:10px !important;}
.pb9{padding-bottom:9px !important;}
.mr-15{margin-right:-15px;}
.width_474{width:474px;}
.pb18{padding-bottom:18px;}
.pb6{padding-bottom:6px !important;}
.pt32{padding-top:32px;}
.pl6{padding-left:6px;}
.bg-non{background:none!important;}
.pl10{padding-left:10px!important;}
.p0{padding:0!important;}
.pr0{padding-right:0!important;}
.pr10{padding-right:10px!important;}
.pr16{padding-right:16px!important;}
.pb{padding-bottom:6px;}
.pt6{padding-top:6px;}
.pt5{padding-top:5px;}
.pb15{padding-bottom:15px;}
.p35{padding:35px;}
.pr27{padding-right:27px;}
.pl18{padding-left:18px;}
.pt24{padding-top:24px;}
.pb20{padding-bottom:20px !important;}
.p15{padding:15px!important;}
.pt25{padding-top:25px;}
.pr20{padding-right:20px;}
.pb25{padding-bottom:25px;}
.pr70{padding-right:70px;}
.pb27{padding-bottom:27px;}
.pl60{padding-left:60px;}
.pl55{padding-left:55px;}
.pl52{padding-left:52px;}
.pt20{padding-top:20px!important;}
.pl77{padding-left:77px!important;}
.pb3{padding-bottom:3px!important;}
.pl26{padding-left:26px;}
.pl192{padding-left:192px;}
.pl25{padding-left:25px!important;}
.pb28{padding-bottom:28px;}
.pr45{padding-right:45px;}
.pt27{padding-top:27px;}
.pr80{padding-right:80px!important;}
.pr4{padding-right:4px;}
.pr12{padding-right:12px!important;}
.pb7{padding-bottom:7px;}
.pt14{padding-top:14px !important;}
.pl100{padding-left:100px!important;}
.pl48{padding-left:48px;}
.p12{padding:12px !important;}
.pl28{padding-left:28px;}
.p14{padding:14px;}
.pt47{padding-top:47px;}
.pl17{padding-left:17px;}
.pt11{padding-top:11px;}
.pb12{padding-bottom:12px!important;}
.p11{padding:11px!important;}
.pb11{padding-bottom:11px!important;}
.pl11{padding-left:11px!important;}
.pr25{padding-right:25px;}
.pb19{padding-bottom:19px;}
.pt30{padding-top:30px!important;}
.pl21{padding-left:21px;}
.pr3{padding-right:3px;}
.pt4{padding-top:4px!important;}
.pl20{padding-left:20px;}
.pd5{padding:5px;}
.pl50{padding-left:50px;}
.pr5{padding-right:5px!important;}
.pl70{padding-left:70px;}
.pt23{padding-top:23px;}
.pl7{padding-left:7px!important;}
.pl4{padding-left:4px;}
.pl5{padding-left:5px!important;}
.pt10{padding-top:10px!important;}
.pb41{padding-bottom:41px!important;}
.pr15{padding-right:15px!important;}
.pl15{padding-left:15px!important;}
.pl42{padding-left:42px;}
.padding_top18,.pt18{padding-top:18px;}
.pb10{padding-bottom:10px;}
.pl115{padding-left:115px!important;}
.m3{margin:3px;}
.p5{padding:5px;}
.pl0{padding-left:0!important;}
.pt12{padding-top:12px!important;}
.pr36{padding-right:36px!important;}
.pb5{padding-bottom:5px;}
.pl30{padding-left:30px!important;}
.pr2{padding-right:2px!important;}
.pl13{padding-left:13px;}
.pr8{padding-right:8px!important;}
.pl41{padding-left:41px!important;}
.p10{padding:10px!important;}
.pb5{padding-bottom:5px!important;}
.pb8{padding-bottom:8px!important;}
.pb0{padding-bottom:0!important;}
.pt_34{padding-top:34px!important;}
.pt3{padding-top:3px;}
.pr50{padding-right:50px!important;}
.pl58{padding-left:58px!important;}
.pl36{padding-left:36px!important;}
.pb25{padding-bottom:25px!important;}
.pt25{padding-top:25px!important;}
.pl23{padding-left:23px!important;padding-left:23px!important;}
.pb30{padding-bottom:30px;}
.pb8{padding-bottom:8px;}
.pb22{padding-bottom:22px;}
.pl12{padding-left:12px!important;}
.pt15{padding-top:15px!important;}
.pl65{padding-left:65px!important;}
.pt8{padding-top:8px!important;}
.pb34{padding-bottom:34px;}
.pl45{padding-left:45px;}
.pr7{padding-right:7px;}
.pb14{padding-bottom:14px;}
.pt7{padding-top:7px !important;}
.pr22{padding-right:22px;}
 .pr46{padding-right:46px;}
 .pt13{padding-top:13px;}
.pr40{padding-right:40px;}
.clr_d6d6{color:#d6d6d6;}
.bg5a5a5a{background:#5a5a5a !important;}
/*==================== margin css =======================*/
.mt6{margin-top:6px;}
.mt1{margin-top:1px;}
.mt-12{margin-top:-12px;}
.ml-10{margin-left:-10px;}
.ml18{margin-left:18px;}
 .mb32{margin-bottom:32px;}
.mt22{margin-top:22px;}
.mr7{margin-right:7px;}
.mr25{margin-right:25px;}
.pl19{padding-left:19px;}
.mt7{margin-top:7px;}
.mt12{margin-top:12px!important;}
.mt30{margin-top:30px;}
.mt38{margin-top:38px;}
.mb12{margin-bottom:12px;}
.mb10{margin-bottom:10px!important;}
.mt10{margin-top:10px!important;}
.ml80{margin-left:80px!important;}
.ml24{margin-left:24px;}
.ml106{margin-left:106px;}
 .ml34{margin-left:34px;}
.mt65{margin-top:65px;}
.mr39{margin-right:39px;}
.mt26{margin-top:26px;}
.ml37{margin-left:37px;}
.ml52{margin-left:52px;}
.mr52{margin-right:52px;}
.ml10{margin-left:10px!important;}
.ml2{margin-left:2px!important;}
.ml20{margin-left:20px!important;}
.ml222{margin-left:222px!important;}
.mt33{margin-top:33px;}
.mb23{margin-bottom:23px;}
.mr6{margin-right:6px!important;}
.mr5{margin-right:5px!important;}
.mr3{margin-right:3px!important;}
.mr12{margin-right:12px!important;}
.mr14{margin-right:14px!important;}
.mr18{margin-right:18px!important;}
.ml0{margin-left:0!important;}
.ml46{margin-left:46px!important;}
.ml12{margin-left:12px!important;}
.ml6{margin-left:6px!important;}
.ml9{margin-left:9px!important;}
.mt5{margin-top:5px!important;}
.mr0{margin-right:0!important;}
.mt-4{margin-top:-4px!important;}
.ml57{margin-left:57px;}
.mr57{margin-right:57px;}
.ml60{margin-left:60px;}
.mr60{margin-right:60px;}
.mr36{margin-right:36px;}
.mt-50{margin-top:-50px!important;}
.ml38{margin-left:38px;}
.mb14{margin-bottom:14px!important;}
.ml36{margin-left:36px;}
.mt18{margin-top:18px!important;}
.ml5{margin-left:5px!important;}
.mt116{margin-top:116px;}
.mt40{margin-top:40px;}
.ml127{margin-left:127px!important;}
.mt13{margin-top:13px;}
.mt42{margin-top:42px;}
.mb50{margin-bottom:50px;}
.mb30{margin-bottom:30px!important;}
.mt60{margin-top:60px;}
.mt32{margin-top:32px!important;}
.mt14{margin-top:14px!important;}
.mr9{margin-right:9px!important;}
.mb25{margin-bottom:25px !important;}
.mb5{margin-bottom:5px;}
.ml75{margin-left:75px;}
.mb18{margin-bottom:18px;}
.mt17{margin-top:17px!important;}
.mt52{margin-top:52px;}
.ml40{margin-left:40px;}
.mb15{margin-bottom:15px;}
.mb16{margin-bottom:16px;}
.mt19{margin-top:19px;}
.mt20{margin-top:20px !important;}
.mb45{margin-bottom:45px;}
.mb20{margin-bottom:20px!important;}
.mr10{margin-right:10px!important;}
.ml58{margin-left:58px;}
.mt68{margin-top:68px!important;}
.mb36{margin-bottom:36px;}
.mt8{margin-top:8px!important;}
.ml15{margin-left:15px;}
.mt25{margin-top:25px!important;}
.mb8{margin-bottom:8px!important;}
.mr28{margin-right:28px !important;}
.mt28{margin-top:28px!important;}
.mt4{margin-top:4px;}
.mr15{margin-right:15px;}
.mr30{margin-right:30px;}
.mr106{margin-right:106px!important;}
.mb22{margin-bottom:22px;}
.mt15{margin-top:15px!important;}
.mt49{margin-top:49px!important;}
.ml3{margin-left:3px;}
.mb0{margin-bottom:0!important;}
.mr20{margin-right:20px;}
.mr13{margin-right:13px;}
.mt0{margin-top:0!important;}
.mt35{margin-top:35px;}
.mr40{margin-right:40px!important;}
.mt133{margin-top:133px!important;}
.ml26{margin-left:26px!important;}
.ml16{margin-left:16px!important;}
.mr27{margin-right:27px;}
.mr70{margin-right:70px!important;}
.mt46{margin-top:46px!important;}
.ml30{margin-left:30px!important;}
.mt54{margin-top:54px!important;}
.mt30{margin-top:30px!important;}
.min-height_28{min-height:28px;}
.ml100{margin-left:100px;}
.minH206{min-height:206px;}
.width_70{width:70px !important;}
.height_215{height:215px;}
.min-height_30{min-height:29px!important;}
.minH_215{min-height:215px;}
.min-height_26{min-height:26px!important;}
.min-height_25{min-height:25px!important;}
.height235{height:235px;}
.height656{height:656px!important;}
.height330{height:330px!important;}
.height_120{height:120px;}
.height_240{height:240px!important;}
.maxHauto{max-height:none !important;}
.height100{height:100px;}
.height51{height:51px;}
.height85{height:85px;}
.minH169{min-height:169px;}
.minH148{min-height:148px;}
.height_89{height:89px!important;}
.height_30{height:30px;}
.height85{height:85px;}
.height230{height:230px;}
.height51{height:51px !important;}
.width540{width:540px;}
.pb15{padding-bottom:15px !important;}
.height32{height:32px;}
.height_134{height:134px!important;}
.height_62{height:62px!important;}
.height64{height:64px!important;}
.min-height28{min-height:28px!important;}
.width_356{width:356px!important;}
.wid340{width:340px !important;}
.widht_300{width:300px;}
 .mr23{margin-right:23px;}
.width_50{width:50px;}
.width_273{width:273px;}
.width_730{width:730px!important;}
.lineH24{line-height:24px!important;}
.font_wN{font-weight:400!important;}
.lineH26{line-height:26px!important;}
.text_alignC{text-align:center;}
.m_auto{margin:0 auto!important;}
.width_485{width:485px;}
.bdr_non{border:0 none!important;}
.text_alignR{text-align:right;}
.display_block{display:block!important;opacity:1!important;transition:opacity 1s ease-in-out 0!important;}
.pt8{padding-top:8px;}
span{display:inline-block;}
.radius5{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.clearb{clear:both;content:"";}
.left_154{left:154px;}
.seprator_52{height:52px;overflow:hidden;}
.left_93{left:93px;}
.pr{position:relative;}
.r35{right:35px;}
.top3{top:3px;}
.clear_nne{clear:none!important;}
label{cursor:pointer;}
.width390{width:390px;}
.radius0{border-radius:0;}
.box_shadow{box-shadow:0 5px 15px #333;-moz-box-shadow:0 5px 15px #333;-webkit-box-shadow:0 5px 15px #333;}
.shadow_inset{-moz-box-shadow:inset 0 2px 3px #c0c0c0;-webkit-box-shadow:inset 0 2px 3px #c0c0c0;box-shadow:inset 0 2px 3px #c0c0c0;}
.letter_sp-P3{letter-spacing:-.3px!important;}
.letrP-1{letter-spacing:-1px;}
.lett4{letter-spacing:.4px;}
.fs30{font-size:30px;}
.mt2{margin-top:2px;}

.z_index10000{z-index:10000;}
.height38{height:38px !important;}
.bbe2e2e2{border-bottom:1px solid #e2e2e2;}
.s_italic{font-style:italic;}
.bb_f8ac94{border-bottom:1px solid #f8ac94;}
.bg_f8f8f8{background:#f8f8f8 !important;}
.lineH12{line-height:12px;}
.lineH19{line-height:19px;}
.lettsp-1{letter-spacing:1px;}
.lineH31{line-height:31px;}
.clr_white{color:#fff !important;}
.lineH45{line-height:45px;}
.lineH14{line-height:14px;}
.lineH16{line-height:16px;}
.pr18{padding-right:18px;}
.width_890{width:890px;}
.veti_midl{vertical-align:middle;}
.display_cell{display:table-cell;}
 .shadow_light{box-shadow:0 0 3px #ccc;-webkit-box-shadow:0 0 3px #ccc;-moz-box-shadow:0 0 3px #ccc;}
.shadow_btn{box-shadow:0 0 3px #c1c1c1;-webkit-box-shadow:0 0 3px #c1c1c1;-moz-box-shadow:0 0 3px #c1c1c1;}
.min_w104{min-width:104px;}
.width513{width:513px;}
 .width570{width:570px;}
.overflow_hidden{overflow:hidden;}
.mb6{margin-bottom:6px!important;}
.lineH15{line-height:15px!important;}
.mt3{margin-top:3px;}
.pb4{padding-bottom:4px!important;}
.min_h100per{min-height:100%!important;}
.height40{height:40px!important;}
.lineH18{line-height:18px!important;}
.lineH27{line-height:27px;}
.display_table{display:table !important;}
.top0{top:0;}
.ver_m{vertical-align:middle;}
.display_inline{display:inline!important;}
.dis_1{display:inline;}
.radius2{border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
.lineH23{line-height:23px!important;}
.display_table{display:table;}
.lb0{left:0 !important; bottom:0 !important; top:auto !important;}
.zindex9{z-index:9;}
.zindex8{z-index:8;}
.lineHp19 p{line-height:19px;}
.lineHp18 p{line-height:18px;}
a.disable_link{color:#ccc !important;}
.lineH_17{line-height:17px;}
.letter_spaceP-3{letter-spacing:-.3px;}
.word-spacing-9{word-spacing:-.9px;}
.whitespace_now{white-space:nowrap;}
.text_alighL{text-align:left!important;}
.lineH25{line-height:25px!important;}
.text_alighC{text-align:center !important;}
.display_inline_block{display:inline-block!important;}
.linh24{line-height:24px;}
.position_absolute{position:absolute;}
.lineH33{line-height:33px;}
.height100per{height:100%;}
.height140{height:140px;}
.p6{padding:6px;}
.float_none{float:none!important;}
.display_none{display:none!important;}
.opacity0{opacity:0;}
.overflow_V{overflow:visible;}
.fl{float:left!important;}
.fr{float:right!important;}
.width_480{width:480px;}
.row{display:inline-block;width:100%;clear:both;}
.letter_Spoint2{letter-spacing:.2px;}
.pr23{padding-right:23px!important;}
.lineH20{line-height:20px!important;}
span{display:inline-block;}
.lineH30{line-height:30px!important;}
.fs31.fshel_light{letter-spacing:-.7px;}
.table_cell{display:table-cell;text-align:center;vertical-align:middle;}
.zindex_999{z-index:999;}
.position_relative{position:relative;}
.letter_Spoint1{letter-spacing:.1px;}
.clear{clear:both;display:block;height:0;line-height:0;width:100%;}
img{display:inline-block;}
.bg_eee{background:#eee;}
.height30{height:30px;}
.width788 span a{display:inline-table;}
.shadow_down{box-shadow:0 2px 2px rgba(166,166,166,.6);-webkit-box-shadow:0 2px 3px rgba(166,166,166,.8);-moz-box-shadow:0 2px 3px rgba(166,166,166,.8);}
 .bdr3_ee242c{border:3px solid #ee242c;}
.wid920{width:920px;}
.fs24imp{font-size:24px !important;}
.width875{width:875px;}
.bdra7a7a7{border:1px solid #a7a7a7;}
.width82{width:82px;}
.width355{width:355px;}
.width77{width:77px;}
.dash_bt{border-top:1px dashed #aeaeae;}
.bdr_aca{border:1px solid #acacac !important;}
.img_150x59{max-width:150px;max-height:59px;}
.bg_f3{background:#f3f3f3;}
.blc4c4c4{border-left:1px solid #c4c4c4;}
.ver_b{vertical-align:bottom;}
.ml67{margin-left:67px;}
.fs34imp{font-size:34px !important;}
.width382{width:382px;}
.lettsp1_5{letter-spacing:1.5px;}
.bb2_8b9c00{border-bottom:1px solid #8b9c00;}
.opacityP5{opacity:.5;}
.height25{height:25px;}
.pb16{padding-bottom:16px;}
.bb2_F1592A{border-bottom:1px solid #F1592A;}
.min_width114{min-width:114px;}
.lett_8p{letter-spacing:.8px;}
.height500{height:500px;}
.mr-17{margin-right:-17px;}
.black_title.org_light{background:none repeat scroll 0 0 rgba(241, 89, 42, 0.8);}
.pr67{padding-right:67px;}
.bg_b7b7{background:#b7b7b7;}
.ml86{margin-left:86px;}
.listpb20 li{padding-bottom:20px;line-height:22px;display:inline-block;width:100%;clear:both;}
.listpb15 li{padding-bottom:15px;line-height:22px;display:inline-block;width:100%;clear:both;}
.bdr_d7d7{border:1px solid #d7d7d7;}
.listpb20 li:last-child{padding-bottom:0;}
 .max_61X61{max-width:61px;max-height:61px;}
.width490{width:490px;}
.bdr7474{border:1px solid #747474;}
.max_172X170{max-width:172px;max-height:170px;}
.wh172x170{width:172px;height:170px;}
.fs26imp{font-size:26px !important;}
.bdrccc{border:1px solid #ccc;}
.p3{padding:3px;}
.width970{width:970px;}
 .wh122X182{width:122px;height:182px;}
.mt85{margin-top:85px;}
.bdrc9c9{border:1px solid #c9c9c9;}
 .height128{height:128px;}
.width700{width:700px;}
.shadow_large{box-shadow:0 0 10px #a4a4a4;-webkit-sbox-shadow:0 0 10px #a4a4a4;-moz-box-shadow:0 0 10px #a4a4a4;}
.opensans_semi{font-family:'OpenSansSemibold';}
.footer_right_nohover{color:rgb(218, 218, 218) !important;}
.pl132{padding-left:132px;}
.height28{height:28px !important;}
.min_widht50{min-width:50px !important;}
.height290_imp{height:290px !important;}
.width598{width:598px;}
.height126{height:126px;}
 .bdr_cbcbcb{border:1px solid #cbcbcb;}
.light_sh{box-shadow:0 0 1px #ccc;-webkit-box-shadow:0 0 1px #ccc;}
.width126{width:126px;}
.mt40imp{margin-top:40px !important;}
.height278{height:278px;}
.bb_c6c6c5{border-bottom:1px solid #c6c6c5;}
.pl33{padding-left:33px;}
.minw_20{min-width:20px;}
.width645{width:645px;}
.maxW560{max-width:560px;}
.bt6_444{border-top:6px solid #444;}
.width562{width:562px;}
.opcity_5{opacity:.5;}
 .lett2p_5{letter-spacing:2.5px;}
.bt_d4d4d4{border-top:1px solid #d4d4d4;}
.pl8{padding-left:8px;}
.width385{width:385px;}
.maxwh_193{max-height:193px;max-height:193px;}
.wh_193{height:193px;width:193px;}
.width278{width:278px;}
.right10{right:10px !important;}
.bg_fbfbfb{background:#fbfbfb !important;}
.width900imp{width:900px !important;}
.width260{width:260px;}
.wid220imp{width:220px !important;}
 .bg_ebebebe{background:#ebebeb;}
.width858{width:858px;}
.shadow_ldown{box-shadow:0 1px 2px #eaeaea;-webkit-box-shadow:0 1px 2px #eaeaea;-moz-box-shadow:0 1px 2px #eaeaea;}
.maxw205{max-width:205px;}
.width205{width:205px;}
.bge5e7d9{background:#e5e7d9;}
.width322{width:322px;}
.width850{width:850px;}
.max_wh322x218{max-width:322px;max-height:218px;}
.bgfcfcfc{background:#fcfcfc;}
.pt45{padding-top:45px;}
.pt36{padding-top:36px;}
.width609{width:609px !important;}
.minH142{min-height:142px;}
.bgf7f5ee{background:#f7f5ee;}
.bdr_ddd{border:1px solid #ddd;}
.bg_ecec{background:#ececec;}
.height206{height:206px;}
.max_w29{max-width:29px;}
.max_258X206{max-width:258px;max-height:206px;}
.hide_btn{min-width:240px;}
.max_h211{max-height:211px;}
.height211{height:211px;}
.text_Rimp{text-align:right !important;}
.pl22{padding-left:22px;}
.bbf9b8a4{border-bottom:1px solid #f9b8a4;}
.widht275{width:275px;}
.pt22{padding-top:22px;}
.bg_717171{background:#717171;}
.blue{color:#0072bc;cursor:pointer;}
.blue:hover{color:#f1592a;}
.bb_f2f2{border-bottom:1px solid #f2f2f2;}
.pb11{padding-bottom:11px;}
.pr115{padding-right:115px;}
 .br_fac8b9{border-right:1px solid #fac8b9;}
.bg_444_8{background:rgba(68,68,68,.79);}
 .width545imp{width:545px !important;}
 .pl35{padding-left:35px;}
.width925{width:925px;}
.width255{width:255px;}
.width258imp{width:258px !important;}
.width_235{width:235px;}
.height366{height:366px;}
.min_H86{min-height:86px;}
.topauto{top:auto !important;}
.bg_f2f2{background:#f2f2f2;}
.hieght480{height:480px;}
.more_red{background:url(../images/arrow_5.png) no-repeat right center;padding-right:20px;}
.pr48{padding-right:48px;}
.font_italic{font-style:italic; font-family:Arial, Helvetica, sans-serif;}
.tex_under{text-decoration:underline;}
.lineH34{line-height:34px;}
.width804{width:804px;}
.bdl3_b7{border-left:3px solid #b7b7b7;}
.open_conbold{font-family:'OpenSansCondensedBold';}
.verti_bottom{vertical-align:bottom;}
.lineH21{line-height:21px;}
.lineH22{line-height:22px;}
.bb_f79b7f{border-bottom:1px solid #f79b7f;}
.lettsp2{letter-spacing:2px;}
.bb_d4d4d4{border-bottom:1px solid #d4d4d4;}
.bg_e9e9{background:#e9e9e9;}
.width288{width:288px;}
.bdr95{border:1px solid #959595;}
.width268{width:268px;}
.width908{width:908px;}
.clr_004a80{color:#004a80;}
.width688{width:688px;}
.pl34{padding-left:34px;}
.bulr_box{-moz-filter:blur(5px);-o-filter:blur(5px);-ms-filter:blur(5px);filter:blur(5px);-webkit-filter:blur(5px);}
.lettsp_3{letter-spacing:.3px;}
.clr4646{color:#464646;}
.width905{width:905px;}
.width217{width:217px;}
.bge8e8e8{background:#e8e8e8;}
.width445{width:445px;}
.w94xh94{width:94px;height:94px;}
.max_w94x94{max-width:94px;height:93px;}
.bg6c6c{background:#6c6c6c;}
.bt_b7b7{border-top:1px solid #b7b7b7;}
.bg_eceae8{background:#eceae8;}
.bdr_d9d9{border:1px solid #d9d9d9;}
.bg_f6f5f4{background:#f6f5f4;}
.pl16{padding-left:16px;}
.width440{width:440px;}
.width170{width:170px;}
.minheight18{min-height:18px !important;}
.height150{height:150px;}
.p9{padding:9px;}
.bbcbcbcb{border-bottom:1px solid #cbcbcb;}
.BBbbbbbb{border-bottom:1px solid #bbb;}
 .width100_per{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.height_75{height:75px;}
.bdr_a3bcbc{border:1px solid #a3bcbc;}
.bb_f5d7cd{border-bottom:1px solid #f5d7cd;}
.opacity4{opacity:.4;}
 .pb32{padding-bottom:32px;}
.bgfafafa{background:#fafafa !important;}
.clr_ef5a34{color:#ef5a34;}
.mouse_fnt{font-family:'MuseoSlab-500';}
.fs42{font-size:42px;}
.width950{width:950px;}
.bdr_L_ddd{border-left:1px solid #ddd;}
.width680{width:680px;}
.width58{width:58px;}
.width765{width:765px;}
.height435{height:435px;}
.width710{width:710px;}
.width677{width:677px;}
.clr_0072bc{color:#0072bc;}
.height345{height:345px;}
 .height45{height:45px;}
.bdrR_a1a1a1{border-left:1px solid #a1a1a1;}
.bb4646{border-bottom:1px solid #464646;}
.width490imp{width:490px !important;}
.bg_dfdfdfimp{background:#dfdfdf !important;}
.bb_e3e3e3{border-bottom:1px solid #e3e3e3;}
.width580{width:580px;}
.bb2_b2bd55{border-bottom:1px solid #b2bd55;}
.bte6e6{border-top:1px solid #e6e6e6;}
.bb_d5d5{border-bottom:1px solid #d5d5d5;}
.clr_240227{color:#240227;}
.bdre3e3{border:1px solid #e3e3e3;}
.box_siz{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
 .w_54_R_54{width:54px;height:54px;border-radius:54px;}
.width620{width:620px;}
.pl210{padding-left:210px;}
.width192{width:192px;}
.blc4c4c4{border-left:1px solid #c4c4c4;}
.width20{width:20px;}
.bb_d7d7{border-bottom:1px solid #d7d7d7;}
.bbababab{border-bottom:1px solid #ababab;}
.bdr2_ff{border:1px solid #fff;}
.bl_dfdf{border-left:1px solid #dfdfdf;}
.wid_h_104{width:104px;height:104px;}
.height20{height:20px;}
.max_175X130{max-width:175px;max-height:130px;}
.width428{width:428px;}
.bbf7bcaa{border-bottom:1px solid #f7bcaa;}
 .width685{width:685px;}
.bdrB_f4a78d{border-bottom:1px solid #f4a78d;}
.width515{width:515px;}
.bgf4f3f3{background:#f4f3f3;}
.minW17xminH17{min-width:17px;height:27px;}
.width298{width:298px;}
.w203{width:203px;}
.list_mb15 li{float:left;width:100%;margin-bottom:15px;}
.min_widht10{min-width:10px !important;}
 .bdrL_b4b4b4{border-left:1px solid #b4b4b4;}
.width585{width:585px;}
.disc_list li{list-style:disc inside;color:#F1592A;padding-bottom:2px;}
.dash_list li{list-style:none;position:relative;padding-left:15px;}
.dash_list li:before{position:absolute;left:0;top:0px;content:"-";width:10px;height:10px;}
.bdrbebebe{border:1px solid #bebebe;}
.width342{width:342px;}
.bottom40{bottom:40px;}
.radius200{border-radius:200px;-webkit-border-radius:200px;-moz-border-radius:200px;}
.hoverlink:hover{text-decoration:underline;color:#f1592a;}
.bdre6e6{border:1px solid #e6e6e6;}
 .fs40{font-size:40px;}
.width800{width:800px;}
.width245{width:245px;}
.height42{height:42px;}
.fs25imp{font-size:25px !important;}
.z_index_9{z-index:-9;}
.top_30{top:-30px;}
.pt2{padding-top:2px;}
.bdrceceimp { border:1px solid #cecece !important;}
.width357{ width:357px;}
.bg_e7e7 { background:#e7e7e7;}
.wxh58_58 { width:58px; height:58px;}
.wxh58_58 img{ max-width:58px; max-height:58px;}
.width840 { width:840px;}
.opensan_bold{font-family:'OpenSansBold';}
.bdr_e5e5 { border:1px solid #e5e5e5;}
.bdrR_F1592A { border-right:1px solid #F1592A;}
.bbe6e6 { border-bottom:1px solid #e6e6e6;}
.bottom0 { bottom:0;}
.max_w380{ max-width:380px;}
.clr_ed1c24 { color:#ed1c24;}
.mb64{ margin-bottom:64px;} 
.bdrR_2666{ border-right:1px solid #c2c2c2;}
.width164 { width:164px;}
b.lineH14 { line-height:14px !important;}
.width96X75 { width:96px; height:75px;}
.max80X60 { max-width:80px; max-height:60px;}
.max96X75 { max-width:96px; max-height:75px;}
.max110X110{ max-width:110px; max-height:110px;}
.height58  { height:58px !important;}
.width110X110 { width:110px; height:110px; }
.min_h48 { min-height:48px;}
.bdr_f79b7f { border:1px solid #f79b7f;}
.bdr_fff { border:1px solid #fff;}
.buyer_comnet { width:30px; height:30px; background:url(../images/buyer_cmt.png ) no-repeat center 2px;}
.width430 { width:430px;}
.pb38 { padding-bottom:38px;}
.width930 { width:930px;}
.width352{ width:352px;}
.bg_e1e1e1 { background:#e1e1e1;}
.lineH35 { line-height:35px;}
.width910 { width:910px;}
.red_c_arrow{ background:url(../images/arrow_big.png) right center no-repeat; padding-right:16px;}
.pb14imp { padding-bottom:16px !important;}
.clr41b5b5 { color:#41b5b5; }
.fs60 { font-size:60px;}
.clr_ffdb00 { color:#ffdb00;}
.clrc1d900{ color:#c1d900;}
.fs50 { font-size:50px;}
.clr00f0ef { color:#00f0ef;}
.lettsp4px { letter-spacing:4px;}
.text_shadownone { text-shadow:none !important;}
.bdr_l_666 { border-left:1px solid #c2c2c2;}
.bdrL_2666 { border-left:1px solid #c2c2c2;} 
.min_H106 { min-height:106px;}
.min_H96 { min-height:96px;}
.width162 { width:162px;}
.width266 { width:266px;}
.mr8 { margin-right:8px;}
.clrf9228d { color:#f9228d;}
.bdr12_F1592A { border-top:12px solid #F1592A; }
.min_H110 { min-height:110px;}
.fs10 { font-size:10px;}
.width475 { width:475px;}
.bt_none { border-top:none !important;}
.bb_none { border-bottom:none;}
.heigt566 { height:566px;}
 .mt27 { margin-top:27px;}
 .download_gray { background:url(../images/gray_download.png) no-repeat  right center;  font-family:"Open Sans";}
 .bdr_ebeb { border:1px solid #ebebeb;}
 .height21imp { height:21px !important;}
 .bt_ebeb { border-top:1px solid #ebebeb;}
 .minH87 { min-height:87px;}
.max_w200imp { max-width:200px !important;}
.bg_f3f3f3 { background:#f3f3f3;}
button.width_208 { max-width:208px !important;}
.max_wnone { max-width:none !important;} 
.letter_5 { letter-spacing:-.5px;}
.clr_663399 { color:#663399;}
.no_wrap { white-space:nowrap !important;}
.max_188X284 { max-height:284px; width:188px;}
.width210 { width:210px;}
.bb_c2c2 { border-bottom:1px solid #c2c2c2;}
.bt_c2 {border-top:1px solid #c2c2c2;}
.width207{ width:207px;}
.pl82 { padding-left:82px;}
.height337 { height:337px;}
.bg_666 { background:#666;}
.bg_fffff { background:#fff !important;}
.lineH12imp { line-height:12px !important;}
.width233imp { width:233px !important;}
.width388 { width:388px;}
.justify { text-align:justify;}
.letterspP3 { letter-spacing:.3px;}
.width500{ width:500px;}
.width235imp { width:235px !important; } 
.ml90 { margin-left:90px;}
.max_800{ max-width:800px;}
.min_h60 { min-height:60px;}
.width345 { width:345px;}
