

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative; padding-top:72px;
	/*box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);*/
	
}
.button{
	display:block;
	width:98px;
	height:25px;
	position:absolute;
	bottom:44px;
	left:50%; margin-left:-49px;
	background-image:url(../images/down_arrow.png);
	background-repeat:no-repeat;
	background-position:0 0; z-index:999;
}
.home_rate #ratingBoxDiv,.home_rate #imgMask{ top:5px;}
.home_rate .poup_bx { padding:5px 20px 10px;}
.home_rate .poup_bx button { margin-top:15px; min-width:85px; height:35px; position:relative; z-index:999;}
.home_rate .poup_bx h3 { padding-bottom:5px; font-size:18px;}
.button:hover{
	cursor:pointer;
	background-position:0 -25px;
}
.button_up{
	background-image:url(../images/up_arrow.png);
}
.button_up:hover{
	cursor:pointer;
	background-position:0 -25px;
}
/******************************
 SLIDE 1 
*******************************/


.home_page h1{
		 font-family: 'HelveticaNeueLTPro25UltraLight' !important; 
		 font-size:78px;
		 color:#444;
		 text-align:center;
		 text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.32);
		 line-height:86px;
			padding:0; 
			margin-bottom:0;
	}
	.tds-button01 a {
    color: rgb(102, 102, 102);
    font-size: 11px !important;
}
.tds-button01 a span {
    cursor: pointer;
    font-family: 'OpenSansSemibold';
    line-height: 28px;
    text-align: center;
}
.home_page h2{
		 font-family: 'HelveticaNeueLTPro25UltraLight' !important;  
		 font-size:41px;
		 color:#222;
		 text-align:center;
		 margin:0;
			 line-height: 56px;
	}
	
	

.ticketul{
		padding:0px;
		margin:0px 0 0 5px;
		text-align:left;
		color:#444; padding-top:22px;}
.ticketul li {
		/*list-style-image:url(../images/bullet.png); top:10px; padding-top:10px;*/
		background:url(../images/bullet.png) no-repeat 0 10px;
		padding-left:18px; 
		font-family: 'helveticaneuelight';
		font-size:20px;
		line-height:32px; margin-bottom:12px;
	}
.mt30{ margin-top:30px;}
.mt46{ margin-top:46px !important;}



#slide4 .parallaxbg{
	position:absolute;
	right:40px;
	top:40px;
	font-size:28px;
	color:rgba(51,51,51,0.3);
}
.menu {
	height: auto;
	position: fixed;
	top: 0;
	width:1000px;
	z-index: 1000;
	background-color: rgba(233, 233, 233, 0.8);
	padding-top:14px;
	padding-bottom:0px;
	color:#000 !important;
	border-bottom:#b8b8b8 solid 1px;
}


.logo_main {
	margin: 5px auto;
	width: 154px;
}
#mainmenu {
	float:right;
	width:44%;
}
.navigation {
	float: left;
	line-height: 42px;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	font-family:HelveticaNeue-Medium !important;
}
.navigation li {
	float: left;
	font-size: 14px;
	margin: 1px -2px 0px 0;
	padding: 0 10px 0 10px;
}
.navigation li a{color: #444444;}
.navigation li a:hover {
	color: #f15921;
	cursor: pointer;
}
.membertips{font-family: 'helveticaneuelight' !important;}
.navigation .active {
/*	border-bottom: 1px solid #F5F1F1;*/
	cursor: pointer;
}
.left_nav {
	color: #FFFFFF;
	float: left;
	font-size: 24px;
	line-height: 42px;
	margin-right: 25px;
}
.left_nav span {
	font-size: 14px;
	vertical-align: top;
}
.wrapper {
	height: auto;
	margin: 0 auto;
	position: relative;
	width: 1000px;
	z-index: 9;
}

#slide1 h2 span {
	color: #FFFFFF;
	font-size: 18px;
	line-height: 65px;
	vertical-align: top;
}
.slide_inner {
	padding-top: 160px;
}
.padding_b_t {
	padding: 100px 0;
}
.po_div {
	position: relative;
}

.inner_bg_img1 {
    position: relative;
    text-align: right;
    margin-top: -20% !important;
}
.inner_bg_img2 {
	margin: 0 auto;
}

.inner_bg_img3 {
    display: inline-block;
    left: 0;
    margin-top: -22%;
    position: relative;
}
.inner_bg_img4 {
    display: inline-block;
    left: 0;
    margin-top: 0;
    position: relative;
}

.inner_bg_img5 {
    position: relative;
    text-align: right;
    margin-top: -33% !important ;
}


.col1 {
	width: 310px;
	position: relative;
	float: left;
	margin-right: 40px;
}
.col1_last {
	width: 300px;
	position: relative;
	float: left;
	margin-right: 0;
}


.inn_wrapper { float:right; width:665px; padding-top:60px;}
#slide3 h2 {
	color: #FFFFFF;
	font-size: 72px;
	line-height: 85px;
	padding-top: 15px;
}
#slide3 p {
	color: #FFFFFF;
	font-size: 14px;
	line-height: 20px;
	padding-top: 15px; padding-right:30px;
}

#slide4 h2 {
	color: #FFFFFF;
	font-size: 86px;
	line-height: 85px;
	padding-top: 15px; text-align:center;
}
#slide4 p {
	color: #FFFFFF;
	font-size: 14px; text-align:center;
	line-height: 20px;
	padding:15px 154px 0;
}
.portable_img { float:left; padding-bottom:40px;}
.rainbow_img { text-align:center;}
.portable_img1 {
    float: left;
    padding-bottom:40px;
    padding-right:40px;
}
.top_div { margin:0 auto;}

.inn_wrapper_s5 { float:right; width:520px; padding-right:40px; padding-top:280px;}

#slide5 h2 {
	color: #FFFFFF;
	font-size: 72px;
	line-height: 85px;
	padding-top: 15px;
}
#slide5 p {
	color: #FFFFFF;
	font-size: 14px;
	line-height: 20px;
	padding-top: 15px; padding-right:30px;
}

#slide6 p {
	color: #FFFFFF;
	font-size: 14px; text-align:center;
	line-height: 20px;
	padding:15px 130px 0;
}
#slide7 h2 {
	color: #FFFFFF;
	font-size: 66px;
	line-height: 85px;
	padding-top: 15px;
}
#slide7 p {
	color: #FFFFFF;
	font-size: 14px;
	line-height: 20px;
	padding:15px 0 0 0;
}

.btn_pre_order {
    position: absolute;
    right: 10px;
    top: 200px;
}


.a-btn{
    width:160px;
    height:160px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    display:block;
    float:left; font-size:26px;
background: #333333; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #333333 0%, #5c5c5c 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#333333), color-stop(100%,#5c5c5c)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, #333333 0%,#5c5c5c 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #333333 0%,#5c5c5c 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #333333 0%,#5c5c5c 100%); /* IE10+ */
background: radial-gradient(ellipse at center, #333333 0%,#5c5c5c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#5c5c5c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border:24px solid #151515;
    position:relative;
   text-decoration:none;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn span{
    display:table-cell;
    padding:42px 0 0 25px;
    text-align:center;
    vertical-align:middle;
    font-size:26px;
    color:#ffffff;
    font-family:Georgia;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn:hover{
    background:#000;
}
.a-btn:hover span{
    -webkit-animation:rotate 1s linear;
    -moz-animation:rotate 1s linear;
    animation:rotate 1s linear;
}
@keyframes rotate{
    0% { transform: scale(1) rotate(0);}
    50% { transform: scale(0.5) rotate(180deg);}
    100% { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes rotate{
    0% { -webkit-transform: scale(1) rotate(0);}
    50% { -webkit-transform: scale(0.5) rotate(180deg);}
    100% { -webkit-transform: scale(1) rotate(360deg);}
}
@-moz-keyframes rotate{
    0% { -moz-transform: scale(1) rotate(0);}
    50% { -moz-transform: scale(0.5) rotate(180deg);}
    100% { -moz-transform: scale(1) rotate(360deg);}
}

.tinynav1 {
    display: none;
    float: left;
    font-size: 12px;
    height: 31px;
    margin: 0 1% 4px;
    padding: 2px 5px;
    width: 31%;
}
#nav11 {
	display: block;
}



/* slide first */

.page_img{
		width:935px;
		height:695px;
		background:url(../images/slide_1.png) no-repeat;
	}
.contentbox{
		padding-left:50px;}
		
/* slide second */

.page_img2{
		width:908px;
		height:676px;
		background:url(../images/slide_2.png) no-repeat;
		margin-left:50px; margin-top:-120px;
	}
 .contentbox2{
		padding-left:435px;}
		
/* slide third */

.page_img3{
		width:1000px;
		height:573px;
		background:url(../images/slide_3.png) no-repeat; margin-top:-250px;
		} 
.contentbox3{
		padding-left:466px;
}
	
.iconbox{
		text-align:center;
		padding-left:415px;
		padding-top:0px;
	}
.iconbox span{
		
	}
.pl06{
		padding-left:106px;
	}
.searchicon{
		margin-top:10px;
		margin-left:10px;
		float:left; width:18px; height:15px;
		background:url(../images/search_icon.png);
	}
.searchicon:hover{ background-position:0 -25px}
.wrappermenu {
	height: auto;
	margin: 0 auto;
	position: relative;
	width:100%;
	z-index: 9;
}

.toadlogo{
		float:left; padding-left:28px;
	}
	
.navigation_slide {
	left:50%;
	margin-left:475px;
    position: fixed;
    top: 250px;
    z-index: 99;
}

.navigation_slide li{
	color:#333333;
	display:block;
	line-height:30px;
	margin-bottom:2px;
	font-weight:bold;
	-webkit-transition: all .2s ease-in-out;
	text-align:left;
	width:17px; height:17px;
	margin: 10px 0;
	background:url(../images/list_icon.png) no-repeat;
}
.navigation_slide li:hover{
	cursor:pointer;
	background:url(../images/list_icon_selected.png) no-repeat !important;
}





.row_main {
    display: inline-block;
    padding: 20px; position:relative; padding-top:15px !important;
}



.shadow_img_div {
    left: 50%;
    margin-left:0px;
    position: absolute;
    top: 0;
}

.col_left {
    float: left;
    height: 774px;
    margin: 0 auto;
    text-align: center;
    width: 470px; padding-right:20px;
	
}


.col_right {
    float: left;
    margin: 0 auto;
    text-align: center;
    width: 470px;
}


.col_left ul, .col_right ul { list-style:none; margin:0; text-align:left;}

.col_left ul li, .col_right ul li {
    background: url("../images/list_bullet.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-family: 'helveticaneuelight';
    font-size: 20px;
    list-style: none outside none;
    margin: 17px 30px;
    padding-left: 23px;
}

/*---------------------- style add by ganesh -------------------*/
.img_div{ margin-top:15px;}
.inworkPro_lineh{ height:auto;}
.inworkPro_lineh li{ line-height:28px; margin-bottom:32px !important;}
.main_div {
    float: right;
    padding: 25px 40px 12px 40px;
    width: 720px; position:relative;
}

.main_div .heading { font-size:30px; color:#222222; text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.32); font-family: 'OpenSansLight'; line-height:30px; }
  
.comon_snew{text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.56) !important;}
.div_ul { list-style:none; }


.div_ul li {
    color: #444444;
    font-family: 'helveticaneuelight';
    font-size: 18px;
    list-style-image: url("../images/bullet.png");
    margin-left: 18px;
    padding: 15px 0 15px 5px;
}




.btn_fav_add {
    left: 1px;
    position: absolute;
    top: 155px;
}


.btn_fav_add .btn {
   background: url("../images/btn_bg.png") no-repeat scroll left -312px transparent;
    height: 312px; position:relative;
    width: 156px;
}

.btn_fav_add .btn span {
    background: url("../images/fav_add.png") no-repeat scroll 0 0 transparent;
    height: 68px;
    left: 50%;
    margin-left: -38px;
    margin-top: -34px;
    position: absolute;
    top: 50%;
    width: 76px;
	 -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
/*.btn_fav_add .btn:hover {
background-position: left -312px;
}

.btn_fav_add .btn:hover span {
background-position: left -68px;
}*/


.btn_mail_icon {
    right: 1px;
    position: absolute;
    bottom:0px; z-index:9;
}


.btn_mail_icon .btn {
    background: url("../images/btn_bg_r.png") no-repeat scroll 0 0 transparent;
    height: 312px; position:relative;
    width: 156px;
}

.btn_mail_icon .btn span {
    background: url("../images/mail_icon.png") no-repeat scroll 0 0 transparent;
    height: 43px;
    left: 50%;
    margin-left: -32px;
    margin-top: -21px;
    position: absolute;
    top: 50%;
    width: 64px;
		  -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
/*.btn_mail_icon .btn:hover {
background-position: left -312px;
}

.btn_mail_icon .btn:hover span {
background-position: left -43px;
}*/






.BTN_po {
    bottom:30px;
    left: 250px;
    position: absolute;
    z-index:99; cursor:pointer;
				   background: none repeat scroll 0 0 rgb(247, 247, 247);
    border: 1px solid rgb(187, 187, 187);
				padding:0 10px 0 5px;
				border-radius:2px;
}
.BTN_po:hover { background:#f1f1f1;}
.rate_img img {
    margin-right: 20px;
    margin-top: 50px;
}




.main_div_bo {
    padding: 30px 0 0 0;
    position:relative;
}

.div_ul1 {
    list-style: none outside none;
    margin-left: 50px;
    margin-top: 20px;
}

.div_ul1 li {
    color: #444444;
    font-family: 'helveticaneuelight';
    font-size: 18px;
    list-style-image: url("../images/bullet.png");
    margin-left: 18px;
    padding: 15px 0 15px 5px;
}


.text_editer img {
    margin-right: 55px;
}





.color_orange { background:#f1592a;}

.heading_line {
    background: url("../images/text_under_line.png") repeat-x scroll right bottom transparent;
    color: #FFFFFF;
    font-family: 'helveticaneuelight';
    font-size: 60px;
    line-height: 50px;display:inline-block;
    margin: 20px 0 0 53px;
}


.heading_line span {
    color: #FFFFFF;
    font-family: 'HelveticaNeueLTPro25UltraLight';
    font-size: 76px;
    padding-right: 30px;
}

.text_orange { padding:20px 50px 0px 245px; line-height:43px; color:#ffffff; font-size:30px;  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.32); font-family: 'helveticaneuelight'; }

.tac { text-align:center;}
.tac_btn { margin-left:82px;}
.top_bg_orange{ background:url("../images/line_shadow_orange.png") no-repeat scroll bottom center; height:49px; }
.bottom_bg_orange{ background:url("../images/line_shadow_orange_bottom.png") no-repeat scroll top center #E24A1B; }


.bottom_bg_orange .heading {
    color: #FFFFFF;
    font-family: 'helveticaneuelight';
    font-size: 68px;
    line-height: 60px; text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.32);
    padding: 45px 0;
    text-align: center;
}
.main_orange { padding:6px 45px;}


.screen_shot {}
.orange_ul {
    list-style: none outside none;
    margin-top: -10px;
    width: 475px;
}


.orange_ul li {
    color: #FFFFFF;
    font-family: 'helveticaneuelight';
    font-size: 20px; line-height:40px;
    list-style-image: url("../images/bullet_w.png");
    margin-left: 18px;
    padding: 5px 0 5px 5px;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.32);
}



.join_btn {
    background: none repeat scroll 0 0 #FF4700;
    border: 5px solid #ED8F72;
    border-radius: 17px 17px 17px 17px;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'HelveticaNeueRegular';
    font-size: 21px;
    margin: 0 auto;
    padding: 20px 100px;
    text-align: center;
    text-decoration: none;
		  -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

.join_btn:hover { background:#fff; color:#444444;

}

.fl { float:left;}
.fr { float:right;}
.sap_10{ height:10px; width:100%;}
.sap_20{ height:20px; width:100%;}

.clr_ffffff { color:#ffffff !important;}



.row_main .col_left .heading {
    color: #FEFEFE;
    font-family: 'helveticaneuelight';
    font-size: 29px;
    padding: 20px 32px 25px 20px;
}


.row_main .col_right .heading {
    color: #FEFEFE;
    font-family: 'helveticaneuelight';
    font-size: 29px;
    padding: 20px 100px 25px 87px;
}

/*---------------------- style add by mukesh -------------------*/
.font_helLight{ font-family: 'helveticaneuelight';}

.spacer55{ height:55px; clear:both;}
.spacer50{ height:50px; clear:both;}
.text_shedow{text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.42) !important;}
.sliderbg{
	position:relative; width:100%; height:310px; margin-top:40px;
	}
.prevbtn{ background:url(../images/slider_leftaerow.png) no-repeat; width:31px; height:65px; float:left; position:absolute; left:123px; top:90px;}
.nextbtn{ background:url(../images/slider_rightaerow.png) no-repeat; width:31px; height:65px; float:left; position:absolute; right:140px ;top:90px;}
.slider_imgcontainer{ height:251px; width:402px; position:relative;  margin-left:206px; margin:auto;}
.slider_shedow{ position:absolute; bottom:0px; background:url(../images/slider_shedow.png) no-repeat; width:401px; height:47px;
z-index:0; bottom:-23px;}
.fs88{ font-size:88px !important;}
.text_alighL{ text-align:left !important}
.ml110{ margin-left:110px}


#slide2 .mainheading{}
.clr_fff{ color:#fff !important;}
#slide2 .heading {
	background:#f15921 !important;
	color: #FFFFFF;
	display: inline-block;
	font-size: 36px;
	line-height: 30px;
	padding-right: 5px;
}
#slide2 .heading > span {
	background: none repeat scroll 0 0 #DC5035;
	display: inline-block;
	height: 2px;
	right: 0;
	position: absolute;
	top: 18px;
	vertical-align: middle;
	width: 100%;
	z-index: -1;
}
#slide2 .heading > div.line_v {
	background: none repeat scroll 0 0 #DC5035;
	display: block;
	height: 140px;
	position: absolute;
	right: 0;
	top: -120px;
	width: 2px;
}
#slide2 .heading > div.line_v2 {
	background: none repeat scroll 0 0 #DC5035;
	display: block;
	height: 112px;
	position: absolute;
	right: 0;
	top: -94px;
	width: 2px;
}
#slide2 .heading > div.line_v3 {
	background: none repeat scroll 0 0 #DC5035;
	display: block;
	height: 153px;
	position: absolute;
	right: 196px;
	top: -160px;
	width: 2px;
}
#slide2 .left_content{ float:left; width:415px; margin-top:56px;}
.showcasemin_bg{ float:left; width: 520px;}
.second_slide{ height:auto;}
.second_slide ul li{ background: url("../images/listbuttlet.png") no-repeat scroll 0 16px transparent; line-height:44px; left: auto; font-size:20px; color:#fff;
 font-family: 'helveticaneuelight'; padding-left:15px; padding-bottom:15px;
}
.spacer13{ height:13px;left_content}
.selfbub{ font-size:68px !important; margin-top:28px;}
.self_video{font-family: 'OpenSansLight'; color:#646464; font-size:35px; text-align:center;text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.32) !important; line-height:54px; margin-top:23px;}

.fourdiv_container{ width:100%; height:155px; margin-top:86px;}
.para_roundbox{ height:155px; width:155px; border-radius:80px; float:left; margin-right:56px;}
.para_roundbox:first-child{ background:#0072bb; margin-left:106px;}
.para_roundbox:first-child:hover{ background:#0082d6;}
.para_roundbox:nth-child(2){ background:#f1592a;}
.para_roundbox:nth-child(2):hover{ background:#ff7145;}
.para_roundbox:nth-child(3){ background:#a9cc28;}
.para_roundbox:nth-child(3):hover{ background:#b9de30;}
.para_roundbox:last-child{ background:#ed1e24;}
.para_roundbox:last-child:hover{ background:#ff3339;}

.table{ display:table; height:100%; width:100%;}
.table_cell{ display:table-cell;  text-align: center;
    vertical-align: middle;}
.dotedborderbg{ border:solid 1px #fff;
width:646px; height:auto; margin-top:55px; padding-left:55px; margin-left:150px; position:relative;
min-height:234px;
}
.dotedbdr{ background:url(../images/dotborder.png) repeat-x; height:3px; width:100%; position:absolute; top:0px; left:0px;}
.bottom0{ bottom:0px !important; top:inherit;}
.dotedbdr_LR{ background:url(../images/dittedbrdleft.png) repeat-y; width:3px; height:100%; position:absolute; top:0px; left:0px;}
.right0{ left:inherit; right:0px;}


.dotedborderbg ul li{ background:url(../images/list_bullet.png) no-repeat; font-size:22px; color:#444444;
 font-family: 'helveticaneuelight'; padding-left:21px; margin-top:30px; margin-bottom:48px;}
 .dotedborderbg ul li:last-child{ margin-bottom:30px !important;}
 

 
 
 .bdrb_949495{ border-bottom:solid 1px #949495;}
 .pt8{ padding-top:8px;}
 #slide4 h1{ color:#fff;}
 .globebg{ height:410px; margin-top:32px; background:url(../images/globeimg.png) no-repeat center;}
 .globebg .imgcontainer{ border:solid 1px #b9b8b9;  -webkit-box-shadow: 5px 0px 25px 0px rgba(0, 0, 0, .75);
box-shadow: 5px 0px 25px 0px rgba(0, 0, 0, .75);
float:left; margin-right:100px; margin-top:115px;
}
.imgcontainer:first-child{ margin-left:100px;}
.imgcontainer:last-child{ margin-right:0px;}
.imgcontainer img{ float:left;}
 .slide4btnfont{font-family: 'OpenSansLight'; color:#fff; font-size:32px; text-align:center;text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.62) !important; line-height:44px; margin-top:23px;}
 .spacer34{ height:32px;}

 #slide5 h2{font-family: 'OpenSansLight'; color:#444; font-size:35px; text-align:center;text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.32) !important; line-height:54px; margin-top:23px; text-align:left; padding-left:46px;}
 

  #slide6 h2 {
	 font-family: 'helveticaneuelight' !important;
	font-size:68px;
	line-height: 85px;
	padding-top: 9px; text-align:center;
	color: rgba(116, 116, 116, 0.6);
	text-shadow:1px 0 1px #666666, 0 0 0 #000000, 0px 0 5px #fff;
}

 .pagebtnshedow{ position:absolute; background:url(../images/pagebtm_shedow.png) no-repeat; height:24px; width:1002px; bottom:-23px; z-index:999;}
.multiDarkShed{text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.70) !important;}
.clr_f15921{ color:#f15921 !important;}
.ultralight_46{font-family: 'HelveticaNeueLTPro25UltraLight'; font-size:46px; color:#fff; text-align:center;}
.featured_contentbg{ width:470px; height:368px; border:solid 1px #727273;  margin:auto; padding-top:10px; -webkit-box-shadow: inset 1px 1px 14px 12px rgba(0, 0, 0, .30);
box-shadow: inset 1px 1px 14px 12px rgba(0, 0, 0, .30); margin-top:28px; }
.astpage_img_cont{ clear:both; text-align:center; margin-top:12px;}
/*----------------------- style for footer ------------------*/
.mt8 {
    margin-top: 8px !important;
}



.pb3 {
    padding-bottom: 3px !important;
}

.font_size14 {
    font-size: 14px!important;
}
.clr_white {
    color: #FFFFFF !important;
}


.min_height235 {
    min-height: 235px !important;
}
.pr {
    position: relative!important;
}
.mt-50 {
    margin-top: -50px !important;
}



#toadVideo{ position:relative; z-index:1;}
/*--------------- slide style ----------------*/
#slide1{ background:#fff; height:760px; padding-top:0;}
#slide2{background-color:#f15921; height:760px;}
#slide3{ height:760px}
#slide4{ background:url(../images/scroll4_patern.png) repeat; height:760px;}
#slide5{ background:#fff; height:760px;}
#slide6{ background:#f9eedf; height:760px;}
#slide7{background-color: #fff; height:760px;}
#slide8{height:760px;background-image:url(../images/scroll4_patern.png); background-repeat:repeat;}
#slide9{ height:920px; overflow:hidden;}
#slide10{ height:760px;}
#slide11 {
    background-image: url("../images/scroll4_patern.png");
    background-repeat: repeat; height:760px;
}

.spacer53{ height:53px;}
.home_page .creative_c{ margin-left:80px; margin-top:26px; letter-spacing: 1.4px;}
.creativetoad_c{ padding-right:48px; line-height:50px; word-spacing: 3.5px;}
.font_opensansSbold{ font-family: 'OpenSans-Semibold';}
.clr_444{ color:#444;}
.text_alighC{ text-align:center;}
.pagepadding{ padding-left:50px; padding-top:33px;}
.lett_Spac1p2{ letter-spacing:1.2px !important;}
.lett_Spacp5 {
    letter-spacing: 0.5px !important;
}
.spacer5{ height:5px;}
.nav_toad .active{background-image: none !important; color:#f15921;}
.nav_right{ margin-right:0px !important;}
.mt-15{ margin-top:-15px;}
.mt-26{ margin-top:-26px;}
.memberul li{ line-height:34px;}

/*---------------- style for slider --------------*/
.slidershedow_cont{position:relative; width:402px; margin:auto; height:251px}
#slider_paralax { overflow:250px; padding: 0 0 10px;   }
#slider_paralax .viewport { float: left; width:402px; height: 251px; overflow: hidden; position: relative; z-index:99}
#slider_paralax .buttons { display: block; margin: 0px 0px 0 0; text-indent: -999em; float: left; width: 39px; height: 68px; overflow: hidden; }
#slider_paralax .next { background-position: 0 0; margin: 0px 0 0 0px;  }
#slider_paralax .disable { visibility:visible; }
#slider_paralax .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 240px; left: 0 top: 0; }
#slider_paralax .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 251px; width:402px;}

#imgMask_parallax {
    height: 11px;
    position: absolute;
    width: 80px;
    z-index: 10;
}
#ratingBox_parallax {
    background-color: #555754;
    border: 0 solid #003366;
    height: 11px;
    overflow: hidden;
    position: absolute;
    width: 80px;
    z-index: 1;
}

.popupBoxWp_paralax{ border:solid 8px #3e3e3e; margin-top:40px;}
.paralax_close{ right:40px !important; margin-top: -17px !important;}
.paralax_ratebtn{min-width: 50px !important;}

.beta {
	position:absolute;
	left:322px;
	top:36px;
}
/*---------- new add style -------------*/

.paralaxinput{width:135px; height:19px !important; line-height:30px; position:relative; border-radius:2px !important; background:#6c6a6a; color:#fff !important; border:none !important; box-shadow:none !important; padding-right:35px !important;}
.paralax_searchicon{ background:url(../images/searchicon_paralax.jpg); background-repeat:repeat; height:21px; width:23px; position:absolute; right:10px; top:4px;}
.mt-5{ margin-top:-5px !important;}
.mt-18{ margin-top:-18px !important;}
.paralaxnav{ margin-right:3px;}
.paralaxnav li{ padding-left:6px !important; padding-right:6px !important;}
.para_nav_left ul li a{ margin: 10px 7px 0 !important;}
.para_nav_right ul li a{margin: 10px 2px 0;}
.gray_color-paral {
    color: #777777;
}

/*---------- new add style 9-10-2013-------------*/

.left_338{ left:338px !important;}
.mt-8{ margin-top:-8px;}
.menu_b{
	height: auto;
	position: fixed;
	top:0;
	width:1000px;
	z-index: 999999;
	padding-top:14px;
	padding-bottom:0px;
	color:#000 !important;
	border-bottom:#b8b8b8 solid 1px;
	background-color: rgba(77,77,77,0.8);
	
}

.clr_acacac{ color:#acacac !important;}
.wrappermenu_paraB ul li a{ color:#b2b2b2 !important;}
.wrappermenu_paraB ul li a:hover{ color:#f15921 !important;}
.nav_toad_parab ul li a{ color:#cac9c9 !important;}


/*---------------- style for paralax slider --------------*/
.paralax_scroll{width:808px; height:220px;position:absolute; color:#FFF; z-index:999; top:304px;  -webkit-box-shadow: 0px 0px 18px 12px rgba(0, 0, 0, .2);
box-shadow: 0px 0px 18px 12px rgba(0, 0, 0, .2); transition:all .5s; opacity:0; cursor:pointer; border-radius:5px; left:-808px; display:block; }


.bg_white_trans{background-color: rgba(255, 255, 255, 0.5);}

.para_nav_left ul li a{ color:#777 !important; font-family: 'helveticaneuewebfont' !important; font-size:12.5px;}
.para_nav_right ul li a{ color:#777 !important; font-family: 'helveticaneuewebfont' !important; font-size:12.5px;}

.nav_left ul li a{ color:#777 !important; font-family: 'helveticaneuewebfont' !important; font-size:12.5px;}
.nav_right ul li a{ color:#777 !important; font-family: 'helveticaneuewebfont' !important; font-size:12.5px;}
