.w_580{width:580px}
.bg_pattern{background:url(../images/pattern_1.jpg) repeat;}
.bubble_bg{background:url(../images/bubble_1.png) -10px 15px no-repeat;width:306px;}
.poup_bx button,.poup_bx input,.poup_bx textarea{color:#444;cursor:pointer;font-family:Arial,Helvetica,sans-serif;font-size:14px;}
.width338{width:338px !important;}
.popup_box .ez-checked{background-position:0 -50px!important;}
h1,h2,h4,h3,p{margin:0;font-weight:400;}
.bg_fff{background:#FFF!important;}
.bg_fffN{background:#fff;}
.text_alignC{text-align:center;text-align:center;}
.pt_34{padding-top:34px!important;}
.fs32{font-size:32px !important;}
.bg_f5f5f5{background:none repeat scroll 0 0 #F5F5F5;}
.display_block{display:block!important;}
.popup_box .fb_popbx button{float:none;}
.width_240{width:240px;}
.poup_bx{font-size:14px;border:1px solid #b6b6b6;background:#fff;float:left;color:#444;padding:15px 30px 25px;position:relative;box-shadow:0 3px 16px rgba(24,24,24,.3);-moz-box-shadow:0 3px 16px rgba(24,24,24,.3);z-index:99;-webkit-box-shadow:0 3px 16px rgba(24,24,24,.3);}
.minw20{min-width:20px !important;}
.ez-hide{cursor:pointer !important;height:21px;opacity:0;width:21px;}
.list_bg_lable label{background:url(../images/arrow_5.png) no-repeat 100px center;}
.width424imp{width:424px !important;}
.width433{width:433px;}
.width480{width:480px !important;}
 .rate_wrap .rate_bar{clear:both;text-align:center;}
.rate_wrap .rate_bar{width:241px;height:65px;margin:0 0 10px;}
.wrapper_page{display:table;width:90%;margin:0 auto;padding:0 5%;box-shadow:0 5px 16px 5px rgba(0,0,0,0.43);-webkit-box-shadow:0 5px 16px 5px rgba(0,0,0,0.43);}
.poup_bx button.bg_ededed:hover{background:none repeat scroll 0 0 #444!important;border-color:#444!important;color:#FFF;}
.bg_ededed{background:#ededed!important;}
.popup_bg_none{background:none!important;padding:0!important;}
.wilcom_pop li{padding:15px 0;clear:both;display:inline-block;width:100%;border-bottom:1px solid #eaeaea;}
.poup_bx a:hover{text-decoration:underline;}
:focus { outline:none;}
button.bg_e70000:hover{background:#fff !important;color:#e70000 !important;border:1px solid #e70000;}
.opens_light{font-family:'OpenSansLight';}
body{font-family:Arial, Helvetica, sans-serif;}
.poup_bx .ez-radio{padding-right:10px;float:left;width:20px;height:23px;display:inline-block;background:rgba(0,0,0,0) url(../images/radio.png) no-repeat 0 -3px;}
.poup_bx .ez-hide{cursor:pointer!important;height:24px;opacity:0;width:21px;display:inline-block;float:left;}
.poup_bx .ez-radio.ez-selected{background-position:0 -53px;}
.width415{width:415px;}
.w_580{width:580px;}
.height270{height:270px;}
.bg_pattern{background:url(../images/pattern_1.jpg);}
.bubble_bg{width:306px;background:url(../images/bubble_1.png) no-repeat -10px 15px;}
.font_mouse{font-family:MuseoSlab-500;}
.width338{width:338px!important;}
.left0{left:0;}
.legal_cnt p{line-height:21px;}
.width_80{width:80px!important;}
.pl24{padding-left:24px;}
.width_315{width:315px;}
.width_530{width:530px;}
h1,h2,h4,h3,p{font-weight:400;margin:0;}
.width_313{width:313px!important;}
.width147{width:147px!important;}
.height_auto{height:auto;}
.pt56{padding-top:56px!important;}
.listpb5 li{width:100%;display:inline-block;padding-bottom:5px;}
.box_shadow{box-shadow:0 5px 15px #333;-webkit-box-shadow:0 5px 15px #333;-moz-box-shadow:0 5px 15px #333;}
.pl52{padding-left:52px!important;}
.radius5{border-radius:5px;}
.bg_fff{background:#FFF;}
.pb20{padding-bottom:20px;}
.bdr_d6d6d6{border:1px solid #D6D6D6;}
.display_block{opacity:1!important;transition:opacity 1s ease-in-out 0!important;display:block!important;}
.b_b9b9b9{border:1px solid #B9B9B9;}
.bg_f5f5f5{background:#F5F5F5;}
.red{color:#F1592A!important;}
.fs32{font-size:32px!important;}
.pb10{padding-bottom:10px!important;}
.fs12{font-size:12px;}
.bgfafafa{background:#fafafa;}
.clearb{clear:both;}
.mt10{margin-top:10px;}
.fontB{font-weight:700;}
.fs16{font-size:16px;}
.width520{width:502px;}
.list_disc{list-style:disc;}
.mt20{margin-top:20px;}
.fs24{font-size:24px;}
.color_666{color:#666;}
.thank_list li{line-height:20px;padding:25px 0;}
.minw20{min-width:20px!important;}
.display_list_1{display:list-item;list-style:url(11.jpg) none;width:20px;height:250px;}
.width380{width:380px;}
.width350{width:350px!important;}
.width500{width:500px;}
.textin-42{text-indent:-42px;}
.width320{width:320px;}
.mr-10{margin-right:-10px;}
.bg_ededed{background:#ededed !important;}
.cnt_w{width:470px;}
.underline{text-decoration:underline;}
.poup_bx a{color:#0072bc;}
.ajax_loader{display:block;}
.selectBox-dropdown-menu{padding:2px;}
.select_drop a{border:1px solid #afafaf;display:inline-block;line-height:17px;position:absolute;color:#444!important;z-index:90;padding:4px 0;background:#fff;}
.width210{width:210px!important;}
.opens_light{font-family:OpenSansLight;}
.icon_2{line-height:20px;min-height:20px;padding-left:33px;background:rgba(0,0,0,0) url(../images/icon_5.png) no-repeat -2px -1px !important;}
.bdte5e5{border-top:1px solid #e5e5e5;}
.bdbe5e5{border-bottom:1px solid #e5e5e5;}
.bgfbfbfb{background:#fbfbfb;}
.ml-30{margin-left:-30px;}
/* ==========================popup common css ====================*/
.popup_box .btn_wrap button{cursor:pointer;font-weight:700;height:40px;min-width:78px;padding:0 10px!important;font-size:17px!important;}
.poup_bx input[type=text],.poup_bx textarea{border:1px solid #c2c2c2;font-size:13px;float:left;color:#565a5c;min-height:17px;padding:10px;width:230px;box-shadow:none;background:#fff;}
.poup_bx textarea{margin:10px 0 0;}
.poup_bx textarea{min-height:55px!important;resize:vertical;}
.poup_bx button{border:1px solid #bbb;background:#fafafa;transition:.2s all;   font-family: open_sansregular;-moz-transition:.2s all;-webkit-transition:.2s all;float:right;font-size:14px;padding:0 18px;height:40px;margin:30px 0 0 0;box-shadow:none;min-width:100px;text-align:center;}
.poup_bx button:hover{background:#fff;color:#f1592a; border-color:#f1592a;}
.popup_box .close_btn,.poup_bx .close_btn,.closewhite{cursor:pointer;background:url(../images/close.png) no-repeat -2px 0;cursor:pointer;top:6px;width:24px;height:25px;right:10px;z-index:100;}
.poup_bx .close_btn:hover{background-position:-2px -26px;}
.poup_bx .f_password a{color:#999899;}
.poup_bx .fb_popbx{width:314px;padding:54px 50px 36px 52px;height:auto;}
.popup_box .fb_popbx input.pop_input{float:none;font-size:14px;background:url(../images/fb_suer.jpg) no-repeat scroll 0 0 #E6E6E6;border:medium none;color:#666;height:22px;margin:12px 0 0;padding:5px 10px 5px 60px;width:170px;box-shadow:1px 1px .5px #E4E3E3 inset;}
.popup_box button.bg_f1592a:hover{color:#f1592a !important;}
.popup_box .fb_popbx input.pop_input.pass_word{background:url(../images/password.jpg) no-repeat scroll left center #E6E6E6;}
.poup_bx .green_button:hover{color:#fff!important;border:1px solid #8b9c00;}
.poup_bx .common_graphic{margin:0 2px;}
.poup_bx .mail_icon{margin:0;width:45px;}
.poup_bx h4{font-size:18px;padding:0 0 5px;}
.wilcom_pop li{clear:both;display:inline-block;width:100%;border-bottom:1px solid #eaeaea;padding:15px 0;}
.wilcom_pop li:last-child{border-bottom:none;}
.poup_bx .width300{width:300px!important;}
  .common_graphic.tumbler { background-position:4px -280px;}
    .common_graphic.tumbler:hover { background-position:-35px -280px;}

.rate_wrap .rate_bar{clear:both;text-align:center;width:241px;height:65px;margin:0 0 10px;}
.rate_bar img{display:inline;margin:17px 0 0;}
.wrapper_page{display:table;width:90%;box-shadow:0 5px 16px 5px rgba(0,0,0,0.43);-webkit-box-shadow:0 5px 16px 5px rgba(0,0,0,0.43);margin:0 auto;padding:0 5%;}
.poup_bx .review li{line-height:22px;float:left;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 0 25px;padding:0 0 0 15px;background:url(../images/arrow_list.png) no-repeat left 4px;}
.poup_bx button.bg_f1592a{color:#fff;border:none;background:#F1592A;}
.poup_bx a:hover{color:#F1592A;}
.poup_bx h3.title_pp{color:#fff!important;width:370px;text-align:right;font-size:16px;margin:30px 0;padding:5px;background:#F1592A !important;}
.poup_bx .search_box_wrap{font-size:14px;width:100%;display:table;margin:20px 0 28px;}
.poup_bx input[type=text],.poup_bx input[type=password],.poup_bx textarea,.poup_bx input{min-height:100px;font-size:14px;float:left;color:#565a5c;min-height:17px;width:230px;box-shadow:none;padding:10px;background:#fff;}
.poup_bx textarea{min-height:55px!important;resize:vertical;margin:10px 0 0;}
.poup_bx button.search_button{margin:0 0 0 10px !important;}
.popup_box .close_btn,.poup_bx .close_btn,.closewhite{cursor:pointer;top:2px;width:24px;height:25px;right:8px;z-index:100;background:url(../images/close.png) no-repeat -2px 0;}
.poup_bx .closewhite{background:url(../images/white_close.png) no-repeat center center;}
.poup_bx .Purchase span.red a{font-size:13px;}
.poup_bx{font-size:14px;border:1px solid #b6b6b6;float:left;color:#444;position:relative;box-shadow:0 3px 16px rgba(24,24,24,.3);-moz-box-shadow:0 3px 16px rgba(24,24,24,.3);z-index:99;-webkit-box-shadow:0 3px 16px rgba(24,24,24,.3);padding:15px 38px 25px 30px;background:#fff;}
.popup_box .fb_popbx button.fb_btn,.popup_box .fb_popbx button.fb_btn:hover{border:none!important;float:none;color:#FFF;padding-left:60px;margin:0;background:url(../images/fb_icon.jpg) no-repeat left center !important;}
.poup_bx .buy_wrap{color:#666;margin:0 auto;}
.buy_table th{border-bottom:1px solid #f47a55;padding:5px 0 3px; font-weight:normal;}
.buy_table td{padding:6px 0 0;}
.poup_bx button.bg_ededed:hover{color:#FFF;border-color:#444!important;}
.popup_box div .ez-checkbox{width:21px!important;margin:0 3px 0 0;}
.popup_box .ez-checkbox{display:inline-block;float:left;height:21px;overflow:hidden;width:24px;background:#FFF url(../images/checkbox.png) no-repeat;}
.poup_bx .btn_review{color:#444;padding:0 20px 0 0;background:rgba(0,0,0,0) url(../images/arrow_5.png) no-repeat right center;}
#draggerDiv{height:53px;left:0;position:absolute;top:27px!important;width:14px;z-index:2;background:rgba(0,0,0,0) url(../images/rate_pointer.png) no-repeat 0 6px;}
.rate_bar{height:50px;position:relative;width:215px;background:url(../images/rate_bar.png) no-repeat top center;}
#ratingBoxDiv{border:0 solid #036;height:11px;right:0;overflow:hidden;position:absolute;top:29px;width:80px;z-index:1;background:#555754;}
#fillLayer{height:11px;margin-left:-100%;position:absolute;top:0;width:100%;background:#ee5a34;}
#imgMask{height:11px;right:0;position:absolute;top:29px;width:80px;z-index:10;}
.colr_999899{color:#999899;}
.poup_bx .f_password a{color:#666;}
.text_alighC,.text_alignC{text-align:center;}
.popup_box .defaultP,.popup_box .fb_popbx button{float:none;}
.poup_bx h4.fs28{font-size:28px;letter-spacing:-.5px;}
.popup_box .sign_btn{height:32px!important;width:180px;}
.popup_box .color_bg .ez-checkbox{height:17px;width:16px;}
.popup_box .ez-checked{background-position:0 -50px !important;}
.popup_box .ez-hide{display:block;height:24px;opacity:0;width:24px;}
.poup_bx input,.poup_bx textarea{cursor:pointer;font-family:Arial,Helvetica,sans-serif;font-size:14px;}
.popup_box .inner_wrap{display:table-cell;vertical-align:middle;}
.popup_box .fb_popbx input.pop_input{float:none;font-size:14px;border:medium none;color:#666;height:22px;width:170px;box-shadow:1px 1px .5px #E4E3E3 inset;margin:12px 0 0;padding:5px 10px 5px 60px;background:#E6E6E6 url(../images/fb_suer.jpg) no-repeat;}
.poup_bx .orange_btn_hov{color:#fff !important;border:1px solid #F1592A;background:#F1592A;}
.popup_box .fb_popbx input.pop_input.pass_word{background:#E6E6E6 url(../images/password.jpg) no-repeat left center;}
.poup_bx .btn_review{background:url("../images/arrow_5.png") no-repeat scroll right center rgba(0, 0, 0, 0);padding:0 20px 0 0;color:#444;}
#baseBarDiv{height:53px;left:39px;position:absolute;top:0;width:140px;z-index:1;}
#draggerDiv{cursor:pointer;background:url("../images/rate_pointer.png") no-repeat scroll 0 6px rgba(0, 0, 0, 0);height:53px;left:0;position:absolute;top:27px !important;width:14px;z-index:2;}
#ratingBar{left:0;position:absolute;top:0;}
.rate_bar{background:url("../images/rate_bar.png") no-repeat scroll top center;height:50px;position:relative;width:215px;}
#ratingBoxDiv{background-color:rgb(85, 87, 84);border:0 solid rgb(0, 51, 102);height:11px;right:0px;overflow:hidden;position:absolute;top:29px;width:80px;z-index:1;}
#fillLayer{background-color:rgb(238, 90, 52);height:11px;margin-left:-100%;position:absolute;top:0;width:100%;}
#imgMask{height:11px;right:0px;position:absolute;top:29px;width:80px;z-index:10;}
.rate_empty{position:relative;height:50px;}
.poup_bx h3{ white-space: nowrap;font-size:20px; margin-bottom:10px;color:#f1592a!important;text-align:center;padding-bottom:10px; font-family: opensanslight; border-bottom:1px solid #e7e7e7 !important;   line-height:21px;}
.poup_bx .fb_popbx{width:314px;height:auto;padding:54px 50px 36px 52px;}
.inner_wrap .fb_popbx input.pop_input,.popup_box .fb_popbx .inner_wrap{border-radius:5px!important;-moz-border-radius:5px!important;-webkit-border-radius:5px!important;}
.poup_bx .green_button{border:1px solid #8b9c00;color:#8b9c00;background:#fff;}
.big_share.big_invite {
    background-position: 73px -36px;
}
.big_share.big_short{background-position:0 -130px;}
.big_share.big_email{  background-position: 69px -71px;}

.big_share.big_shareIcon{background-position:123px 0px;}
.big_share{background:url(../images/big_share_icon.png) no-repeat left top;}
.poup_bx button.green_button:hover{background:#8b9c00;color:#fff !important;border:1px solid #8b9c00;}
.icon_2{background:url("../images/icon_5.png") no-repeat scroll -2px -1px rgba(0, 0, 0, 0) !important;line-height:20px;min-height:20px;padding-left:33px;}
.poup_bx .review li{line-height:22px;float:left;padding:0 0 0 15px;width:100%;margin:0 0 25px;background:url(../images/arrow_list.png) left 4px no-repeat;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.poup_bx .review li:last-child{margin:0;}
.poup_bx .buy_wrap{margin:0 auto;color:#666;}
.poup_bx .buy_table{width:100%;}
.poup_bx .donat_ul li{padding:0 15px 15px 35px !important;}
.poup_bx .color_blck{color:#444;text-decoration:underline!important;}
.poup_bx .review li .defaultP,.wilcom_pop li .defaultP{float:right;margin:-1px 0 0;}
.poup_bx.width_232{padding:16px 25px 20px;}
.poup_bx ul.review{padding:25px 0 0;}
.poup_bx ul.review li label{float:left;}
.poup_bx .donat_ul li:last-child{padding:0 0 10px;}
.poup_bx button.bg_f1592a{background:#F1592A;color:#fff; border:1px solid #F1592A;}
.poup_bx a:hover{color:#F1592A;}
.poup_bx h3.title_pp{margin:30px 0;color:#fff!important;background:#F1592A!important;padding:5px;width:370px;text-align:right;font-size:16px;}
.poup_bx .rate_wrap .rate_fill{width:80px;}
.poup_bx .search_box_wrap{margin:20px 0 28px;font-size:14px;width:100%;display:table;}
.popup_box .radius4{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.fb_popbx h4{border-bottom:0 none!important;}
.fb_popbx .defaultP{border-top:none;}
.popup_box .defaultP label{float:left;line-height:21px;width:100%;}
.popup_box .ez-checkbox{background:url(../images/checkbox.png) no-repeat scroll 0 0 #FFF;display:inline-block;float:left;height:21px;overflow:hidden;width:24px;}
.popup_box .fb_popbx button.fb_btn,.popup_box .fb_popbx button.fb_btn:hover{border:none!important;float:none;margin:0;background:url(../images/fb_icon.jpg) no-repeat scroll left center #3D5B96!important;border:medium none;color:#FFF;padding-left:60px;}
.music_popup{width:407px;}
.poup_bx .close_btn.big_close{margin:15px 10px;background:url(../images/close_big.png) no-repeat center center;}
.poup_bx button.bg_f1592a:hover{background:#fff !important;color:#f1592a !important;border:1px solid #f1592a;}
.poup_bx .bg_dfdfdfimp:hover { background:#444 !important;color:#fff !important;border:1px solid #444;}
 .contact_input input[type="text"]{padding:7px 10px;background:#fff;}
.cnt_icon .facebook_icon{background-position:0 -8px;}
.cnt_icon .facebook_icon:hover{background-position:-41px -8px}
.poup_bx .cnt_icon a{margin:0 20px;}
.AI_table .AI_cell{display:table-cell;vertical-align:middle;}
.AI_table{display:table;height:100%;width:100%;text-align:center;}
.blog_profile_img{border:1px solid rgb(202, 200, 200);height:84px;width:84px;}
.blog_profile_img img{max-height:84px;max-width:84px;}
.blog_profile_name{border-bottom:1px solid rgb(223, 223, 223);color:rgb(136, 136, 136);font-family:'OpenSansSemibold';font-size:12px;line-height:14px;margin-left:4px;padding:10px 0;}
.width_118{width:118px;}
.popup_blog_status_bar{background:url("../images/blog_status_barbr.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);border:1px solid rgb(202, 200, 200);color:rgb(136, 136, 136);font-size:12px;height:17px;line-height:17px;overflow:hidden;width:auto;}
.blog_profile_date{color:rgb(136, 136, 136);font-size:11px;margin-left:4px;padding-top:6px;}
.maxW80_maxH60{max-width:80px;max-height:60px;}
.bbd3d3d3{border-bottom:1px solid #d3d3d3;}
.width_320{width:320px;}
.width_114{width:114px;}
.width_118{width:118px;}
.bb_f3f3f3{border-bottom:1px solid #f3f3f3;}
.pl126{padding-left:126px;}
.width_50imp{width:50px !important;}
.lineH10{line-height:10px;}
.p5{padding:5px !important;}
.list_pb10 li{padding-bottom:10px;display:inline-block;width:100%;line-height:22px;}
.list_pb10 li:last-child{padding-bottom:0px;}
.SP_select_country_box{padding:10px;width:148px;overflow-y:scroll;max-height:165px;border:1px solid #aeaeae;box-shadow:0 0 3px #b1b1b1;}
.poup_bx .ez-checkbox{margin:0 3px 0 0;background:url(../images/checkbox.png) no-repeat scroll 0 0 #fff;display:inline-block;float:left;overflow:hidden;width:24px;height:24px;}
.poup_bx .ez-checked{background-position:0 -50px;cursor:pointer!important;}
/*==================== Icon css =======================*/
.poup_bx .icon_crave4_blog.icon_so{background:url(../images/icon_images.png) no-repeat scroll -3px -32px rgba(0,0,0,0);}
.ps_1 .icon_so{font-size:14px !important;margin:0 0 0 5px;padding:0 10px 0 26px !important;}
.poup_bx .icon_so{background:url("../images/icon_images.png") no-repeat scroll -3px -5px rgba(0, 0, 0, 0);}
.poup_bx .head_list .icon_so.icon_crave4_blog{background-position:1px -17px;}
.poup_bx .head_list .icon_so{background:url("../images/small_crev.png") no-repeat scroll 0 top rgba(0, 0, 0, 0);}
.share{background:url(../images/Share-Icon_hover.png) 0 0 / 30px auto no-repeat;}
.color_444{color:#444 !important;}
.head_list .rating.icon_so{background-position:-2px -50px;margin-right:0;width:7px;}
/*.head_list .icon_so{margin:0 8px;}*/
.poup_bx .bg_fffN{background:#fff;}
 /*====================tmail css =======================*/
input.searchbtbbg{top:0;background:url(../images/inputsearcj.png) no-repeat scroll center center rgba(0,0,0,0);border:medium none!important;cursor:pointer;font-size:0!important;padding:0!important;position:absolute;right:0;width:33px!important;height:100%;}
.width170{width:170px !important;}
.poup_bx .tmail_notice{border:1px solid #b1b1b1;padding:8px;width:500px;margin-bottom:7px;}
 .notice_thumb{width:50px;height:50px;border:1px solid #d9d9d9;}
 .notice_thumb img{max-width:50px;max-height:50px;}
 .listpb15.lineH16 li{line-height:16px;}
.poup_bx .alpha_lsit li{display:inline-block;padding:0 4.4px;}
 .tmail_inner li{display:inline-block;padding-right:40px;float:left;letter-spacing:.3px;line-height:18px;}
 .tmail_inner li label{color:#999;font-size:12px;display:block;font-family:'arial_mtregular';}
 .edit_nav a{display:block;color:#f1592a;}
 .tmail_inner li.edit_nav{padding-right:0;}
 .poup_bx .selct_img img{max-width:64px;max-height:55px;}
.poup_bx .selct_img{width:64px;padding:0 7px;height:auto;}
.poup_bx .select_tmail{width:300px;background:#fdfdfd;border:1px solid #cacaca;height:55px;padding:3px 12px 3px 5px;margin:0 7px 7px 0;}
.poup_bx .selct_box_wrap .select_tmail:nth-child(2n){margin-right:0;}
.width104x104{max-width:104px;max-height:104px;}
ul.clr_888 a{color:#888;}

.contact_btn a i {
	background:url(../images/all_arrow_check_icon.png) -150px -87px;
    color: hsl(0, 0%, 61%);
    height: 20px;
	width:20px;
	float:left;
  
}
.contact_btn a { line-height:20px; color:#444;}
.contact_btn a i.next_btn { background-position:-136px -87px;
}
.pl17{padding-left:17px;}
 /*====================login popup css =======================*/
.fs25{font-size:25px !important;}
.poup_bx button.green_btn{background:none repeat scroll 0 0 #8b9c00;color:#fff; border:1px solid #8b9c00;}
.poup_bx .login_index input{width:173px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin-bottom:6px;background:url(../images/msg_login.png) no-repeat 10px 5px #fff;font-size:16px;padding-left:60px;}
.poup_bx .login_index input.pass_word{background-position:10px -43px;}
.poup_bx .login_index button{border-radius:3px;height:42px;width:245px;font-family:"OpenSansLight";margin:0 0 10px 0;padding:0 10px;}
.poup_bx .login_index .fb_btn{background:url("../images/fb_icon.png") no-repeat scroll left top #3d5b96; border:none;color:#fff;padding-left:32px;}
/*.poup_bx .login_index button.bg_f1592a:hover{background:#f1592a !important;color:#fff !important;}
*/.poup_bx .login_index{padding:35px 0 25px;display:table;}
.or_border:after{position:absolute;width:43%;top:7px;height:1px;background:#f1592a;right:0;content:"";}
.or_border:before{position:absolute;width:43%;top:7px;height:1px;background:#f1592a;left:0;content:"";}
.or_border{position:relative;width:100%;float:left;text-align:center;}
.login_index .ez-checkbox{background:url("../images/login_check.png") no-repeat left -18px;}
.login_index .ez-checkbox.ez-checked{background-position:left 3px !important;}
