@font-face {
    /*font-family: 'GothamBookRegular';*/
    src: url('gotham-book-webfont.eot');
    src: url('gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-book-webfont.woff') format('woff'),
         url('gotham-book-webfont.ttf') format('truetype'),
         url('gotham-book-webfont.svg#GothamBookRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    /*font-family: 'GothamMediumRegular';*/
    src: url('gotham-medium-webfont.eot');
    src: url('gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-medium-webfont.woff') format('woff'),
         url('gotham-medium-webfont.ttf') format('truetype'),
         url('gotham-medium-webfont.svg#GothamMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* CSS Document */
.loader{ background:url("../images/logo_tod.jpg") no-repeat center; width:167px; height:47px;}
#creativeAssociativeBoxWp{
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #536376;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
	display: none;
	padding: 14px 22px;
	 z-index: 99999;
	width: auto;
	position:relative;
	min-width:657px;
	min-height:250px;
}

#loginLightBoxWp{
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #536376;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
	display: none;
	padding: 14px 22px;
	 z-index: 99999;
	width: auto;
	position:relative;
	min-width:400px;
	min-height:250px;
}
/*
#loginLightBoxWp{
	background: url("../images/grey_trans_bg.png") repeat scroll 0 0 transparent;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.3);
    width: auto;
    padding: 12px;
     z-index: 99999;
    z-index: 9999;	
	display: none;
	position: relative;	
	min-width:400px;
	min-height:250px;
}

.loginFormContainer {
    background: url("../images/gallary_shade.jpg") repeat-x scroll 0 0 transparent;
}
*/
#popupImages{
	
	display: none;	
	position: relative;
	width: auto;	
	min-width:650px;
	min-height:650px;
	z-index: 99999;
}

#contactBoxWp{
	display: none;
	padding: 14px 22px;
	 z-index: 99999;
	width: auto;
	position:relative;
	min-width:524px;
	min-height:250px;
}

#loginLightBoxWp .lightBoxTitle{
	 color: #000000;
    font-size: 16px;
    font-weight: bold;
}

#postPreviewBoxWp{
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #536376;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
	display: none;
	padding: 14px 22px;
	 z-index: 99999;
	width: auto;
	position:relative;
	min-width:400px;
	min-height:250px;
}
#postPreviewBoxWp .lightBoxTitle{
	 color: #000000;
    font-size: 16px;
    font-weight: bold;
}

#productLightBoxWp{
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #536376;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
	display: none;
	padding: 14px 22px;
	 z-index: 99999;
	width: auto;
	position:relative;
	min-width:530px;
	min-height:450px;
}
#productLightBoxWp .lightBoxTitle{
	 color: #000000;
    font-size: 16px;
    font-weight: bold;
}
#workLightBoxWpNew{
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #536376;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
	display: none;
	padding: 14px 22px;
	 z-index: 99999;
	width: auto;
	position:relative;
	min-width:400px;
	min-height:450px;
}
#workLightBoxWpNew .lightBoxTitle{
	 color: #000000;
    font-size: 16px;
    font-weight: bold;
}
#videoLightBoxWp{
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #536376;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
	display: none;
	padding: 14px 22px;
	 z-index: 99999;
	width: auto;
	position:relative;
	min-width:205px;
	min-height:200px;
}
#videoLightBoxWp .lightBoxTitle{
	 color: #000000;
    font-size: 16px;
    font-weight: bold;
}

#videoLightBoxWpNew{
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #536376;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
	display: none;
	padding: 14px 22px;
	 z-index: 99999;
	width: auto;
	position:relative;
	min-width:205px;
	min-height:200px;
}
#videoLightBoxWpNew .lightBoxTitle{
	 color: #000000;
    font-size: 16px;
    font-weight: bold;
}

#videoLightBoxWpProduct{
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #536376;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
	display: none;
	padding: 14px 22px;
	 z-index: 99999;
	width: auto;
	position:relative;
	min-width:205px;
	min-height:200px;
}
#videoLightBoxWpProduct .lightBoxTitle{
	 color: #000000;
    font-size: 16px;
    font-weight: bold;
}

#workLightBoxWp{
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #536376;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
	display: none;
	padding: 14px 22px;
	 z-index: 99999;
	width: auto;
	position:relative;
	min-width:205px;
	min-height:200px;
	z-index:101;
}
#workLightBoxWp .lightBoxTitle{
	 color: #000000;
    font-size: 16px;
    font-weight: bold;
}


#mainTabBoxWp{
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #536376;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
	display: none;
	padding: 14px 22px;
	 z-index: 99999;
	width: auto;
	position:relative;
	min-width:200px;
	min-height:80px;
	z-index:101;
}
#mainTabBoxWp .lightBoxTitle{
	 color: #000000;
    font-size: 16px;
    font-weight: bold;
}
.customAlert{ 
	background: none repeat scroll 0 0 #EEF2F7;
	border: 1px solid #536376;
	/*border-radius: 6px 6px 6px 6px;*/
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
	/*display: none;*/
	padding: 14px 22px;
	 z-index: 99999;
	width: 400px;
	position:relative;
}
/* Added By Gurutva 23 March */
.midCustomAlert{
	background: none repeat scroll 0 0 #EEF2F7;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
	display: block;
	padding: 14px 22px;
	position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #536376;
    background-color: #f3f3f3;
}
/*.editordiv{
	overflow:auto;
	padding:10px;
	min-width:530px;
	min-height:200px;
}*/
.editordiv{
	overflow:auto;
	padding:10px;
	background-color: #FFFFFF;
	border: 1px solid #A0A0A0;
    border-radius: 2px 2px 2px 2px;      
    color: #939598;
    min-height:200px;
    max-height:200px;
}
/*--------------------------------*/
/*.close-customAlert{
    background:url("../images/dialog_close_button.png");
    display: block;
    height: 20px;
    line-height: 1000px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
	cursor:pointer;
}	
*/
.close-customAlert{
      background: url("../images/close_btn.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 26px;
    margin: -20px -10px 0 0;
    position: absolute;
    right: 0;
    width: 26px;

}	

	.gallery {
		/*background-color: #444;
		padding: 10px;
		/*width: 520px;*/
	}
	.gallery ul { list-style: none; margin:0; padding:0; }
	.gallery ul li { display: none; }
	.gallery ul li:first-child { display: inline; }

	.gallery ul img {
		/*border: 5px solid #3e3e3e;
		border-width: 5px 5px 20px;*/
	}
	.gallery ul a:hover img {
		/*border: 5px solid #fff;
		border-width: 5px 5px 20px;
		color: #fff;*/
	}
	.gallery ul a:hover { color: #fff; }

/* CSS For Deactivating the li tag option */
/*ul li span{
	/*color:#CCCCCC;*/
/*	height:100%;
	background:url(../images/arrow_archive.png) no-repeat 26px 0px;
	display:block;
	text-indent:43px;
	cursor:pointer;
	font-family: 'OpenSansSemibold'; 
	text-transform: capitalize;
	
}*/
ul li a.right_menu_selected{
	color:#E76D34;
	height:100%;
	background: url("../images/arrow_archive.png") no-repeat scroll 26px 0 transparent;
	display: block;
	height: 32px;
	line-height: 30px;
	text-indent: 42px;
}


.getshortlinkPage{
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #536376;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
	display: none;
	padding: 14px 22px;
	 z-index: 99999;
	width: auto;
	position:relative;
	min-width:200px;
	min-height:80px;
	z-index:101;
}
.shareLinkEmail{
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #536376;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
	display: none;
	padding: 14px 22px;
	 z-index: 99999;
	width: auto;
	position:relative;
	min-width:205px;
	min-height:200px;
	z-index:101;
}


/*------vcard popup for lighbox-----*/
/* pop up window */

.vcard_popup_wp {
	border:1px solid #ffffff;
	background:#595959;
	height:auto;
	box-shadow:5px 5px 7px #686868;
	width:524px;
	padding:28px;
}
.vcard_popup_left {
	width:106px;
	float:left;
	height:auto;
	padding:0 34px 0 0;
}
.vcard_popup_right {
	width:348px;
	float:left;
	height:100%;
	border-left:1px solid #fff;
	padding:0 0 0 35px;
	color:#dcdcdc;
}
.vcard_popup_left img {
	border:1px solid #fff;
	box-shadow:4px 4px 4px #323232;
}
.vcard_popup_name {
	color:#a5a5a5;
	font-weight:bold;
	font-size:24px;
	text-transform:capitalize;
}
.vcard_popup_occup {
	padding:13px 0 0 0;
	font-size:14px;
}
.vcard_popup_com_name {
	font-size:14px;
	text-transform:capitalize;
	padding:40px 0 35px 0;
}
.vcard_email_label {
	color:#878787;
	float:left;
	width:100px;
	/*text-transform:uppercase;*/
	font-size:11px;
	font-weight:bold;
}
.vcard_email_box {
	width:233px;
	float:left;
	font-size:13px;
	padding:0 0 0 15px;
}
.vcard_next_pre_wp {
	width:100%;
	height:auto;
	padding:40px 0 0 0;
}
.vcard_next_pre_wp a {
	color: #878787;
}
.vcard_pre_box {
	float:left;
}
.vcard_next_box {
	float:right;
}
.max_h_104 {
	max-height:104px;
}
.max_w_104 {
	max-width:104px;
}

/*------vcard popup for lighbox-----*/
/* pop up window */
.next_arrow {
    background: url("../images/next-forward02.png") no-repeat scroll right -35px transparent;
    color: #AEAEAE;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding-right: 17px;
}
.pre_arrow {
    background: url("../images/next-forward02.png") no-repeat scroll 0 3px transparent;
    color: #AEAEAE;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding-left: 17px;
}
