@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'MVGothicCondRegular';
    src: url('mvgcn___-webfont.eot');
    src: url('mvgcn___-webfont.eot?#iefix') format('embedded-opentype'),
         url('mvgcn___-webfont.woff') format('woff'),
         url('mvgcn___-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothamBookRegular';
    src: url('gothambook-webfont.eot');
    src: url('gothambook-webfont.eot?#iefix') format('embedded-opentype'),
         url('gothambook-webfont.woff') format('woff'),
         url('gothambook-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('gotham-m.eot');
    src: url('gotham-m.eot?#iefix') format('embedded-opentype'),
         url('gotham-m.woff') format('woff'),
         url('gotham-m.ttf') format('truetype'),
         url('gotham-m.svg#gotham-m') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTCom-Bd';
    src: url('helveticaneueltcom-bd.eot');
    src: url('helveticaneueltcom-bd.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltcom-bd.woff') format('woff'),
         url('helveticaneueltcom-bd.ttf') format('truetype'),
         url('helveticaneueltcom-bd.svg#helveticaneueltcom-bd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Semibold';
	src: url('opensans-semibold.eot');
    src: url('opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('opensans-semibold.woff') format('woff'),
         url('opensans-semibold.ttf') format('truetype'),
         url('opensans-semibold.svg#opensans-semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('OpenSans-LightItalic-webfont.eot');
    src: url('OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-LightItalic-webfont.woff') format('woff'),
         url('OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('OpenSans-Italic-webfont.eot');
    src: url('OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Italic-webfont.woff') format('woff'),
         url('OpenSans-Italic-webfont.ttf') format('truetype'),
         url('OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
	src: url('opensans-semibold.eot');
    src: url('opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('opensans-semibold.woff') format('woff'),
         url('opensans-semibold.ttf') format('truetype'),
         url('opensans-semibold.svg#opensans-semibold') format('svg');
    font-weight: normal;
    font-style: normal;
   /*src: url('OpenSans-Semibold-webfont.eot');
    src: url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Semibold-webfont.woff') format('woff'),
         url('OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;*/

}

@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('OpenSans-SemiboldItalic-webfont.eot');
    src: url('OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('OpenSans-Bold-webfont.eot');
    src: url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Bold-webfont.woff') format('woff'),
         url('OpenSans-Bold-webfont.ttf') format('truetype'),
         url('OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('OpenSans-BoldItalic-webfont.eot');
    src: url('OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtrabold';
    src: url('OpenSans-ExtraBold-webfont.eot');
    src: url('OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtraboldItalic';
    src: url('OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansCondensedLight';
    src: url('OpenSans-CondLight-webfont.eot');
    src: url('OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-CondLight-webfont.woff') format('woff'),
         url('OpenSans-CondLight-webfont.ttf') format('truetype'),
         url('OpenSans-CondLight-webfont.svg#OpenSansCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansCondensedLightItalic';
    src: url('OpenSans-CondLightItalic-webfont.eot');
    src: url('OpenSans-CondLightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-CondLightItalic-webfont.woff') format('woff'),
         url('OpenSans-CondLightItalic-webfont.ttf') format('truetype'),
         url('OpenSans-CondLightItalic-webfont.svg#OpenSansCondensedLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansCondensedBold';
    src: url('OpenSans-CondBold-webfont.eot');
    src: url('OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-CondBold-webfont.woff') format('woff'),
         url('OpenSans-CondBold-webfont.ttf') format('truetype'),
         url('OpenSans-CondBold-webfont.svg#OpenSansCondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
				font-family: 'HelveticaNeue-Medium';
				src: url('helveticaneue-medium.eot');
				src: url('helveticaneue-medium.eot?#iefix') format('embedded-opentype'),
						 url('helveticaneue-medium.woff') format('woff'),
						 url('helveticaneue-medium.ttf') format('truetype'),
						 url('helveticaneue-medium.svg#helveticaneue-medium') format('svg');
				font-weight: normal;
				font-style: normal;
		}
		
@font-face {
				font-family: 'MuseoSlab-500';
				src: url('museo_slab_500.eot');
				src: url('museo_slab_500.eot?#iefix') format('embedded-opentype'),
						 url('museo_slab_500.woff') format('woff'),
						 url('museo_slab_500.ttf') format('truetype'),
						 url('museo_slab_500.svg#museo_slab_500') format('svg');
				font-weight: normal;
				font-style: normal;
		}
		
@font-face {
    font-family: 'museo_slab_500regular';
    src: url('museo_slab_500-webfont.eot');
    src: url('museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('museo_slab_500-webfont.woff') format('woff'),
         url('museo_slab_500-webfont.ttf') format('truetype'),
         url('museo_slab_500-webfont.svg#museo_slab_500regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'helveticaneuelight';
    src: url('18925_helveticaneuelt-webfont.eot');
    src: url('18925_helveticaneuelt-webfont.eot?#iefix') format('embedded-opentype'),
         url('18925_helveticaneuelt-webfont.woff') format('woff'),
         url('18925_helveticaneuelt-webfont.ttf') format('truetype'),
         url('18925_helveticaneuelt-webfont.svg#helveticaneuelight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('helveti8.eot');
    src: url('helveti8.eot') format('embedded-opentype'),
         url('helveti8.woff') format('woff'),
         url('helveti8.ttf') format('truetype'),
         url('helveti8.svg#HelveticaNeueRegular') format('svg');
}


@font-face {
    font-family: 'HelveticaNeueLTPro25UltraLight';
    src: url('helveticaneueltpro-ultlt.eot');
    src: url('helveticaneueltpro-ultlt.eot') format('embedded-opentype'),
         url('helveticaneueltpro-ultlt.woff') format('woff'),
         url('helveticaneueltpro-ultlt.ttf') format('truetype'),
         url('helveticaneueltpro-ultlt.svg#HelveticaNeueLTPro25UltraLight') format('svg');
}


@font-face {
    font-family: 'HelveticaNeueLTCom65Medium';
    src: url('helveticaneueltcom-md.eot');
    src: url('helveticaneueltcom-md.eot') format('embedded-opentype'),
         url('helveticaneueltcom-md.woff') format('woff'),
         url('helveticaneueltcom-md.ttf') format('truetype'),
         url('helveticaneueltcom-md.svg#HelveticaNeueLTCom65Medium') format('svg');
}

@font-face {
	font-family: 'helveticaneuewebfont';
	 src: url('helveticaneuewebfont.eot');
    	src: url('helveticaneuewebfont.eot') format('embedded-opentype'),
         url('helveticaneuewebfont.woff') format('woff'),
         url('helveticaneuewebfont.ttf') format('truetype'),
         url('helveticaneuewebfont.svg#helveticaneuewebfont') format('svg'); 
    }
