@charset "utf-8";
/* CSS Document */
#page{
		background:url(../images/page.png) repeat-y top; margin:0px auto;
		width:auto;
	}

.footer_bottom_strip {
    height: auto;
    width: 100%; height:22px; display:block !important;
}
